include ./../components/control

#inputs
//-.ottbp-inputs
  .ottbp-inputs__field.ottbp-inputs--from#from
    //-+ottbp_input('Москва, Россия', 'Москва')
  .ottbp-inputs__field.ottbp-inputs--to
    +ottbp_input('Берлин, Германия','Берлин')