.ottbp-results
  ul.ottbp-results__list
    li.ottbp-results__list__item
      .ottbp-trip
        .ottbp-trip__header
          .ottbp-trip__title
            span.ottbp-trip__title__inner.ottbp-black Санкт-Петербург
            span.ottbp-trip__title__inner.ottbp-gray , на 8 дней
        .ottbp-trip__body
          .ottbp-trip__directions
            .ottbp-trip__directions__item


              .ottbp-direction
                .ottbp-direction__title
                  span.ottbp-direction__title__icon.ottbp-icon-fly.ottbp-icon-fly--from
                  span.ottbp-direction__title__inner Туда
                  span.ottbp-direction__title__inner!=' 10 янв'
                .ottbp-direction__time
                  span.ottbp-direction__time__inner 23:55 — 08:30
                .ottbp-direction__timespent
                  span.ottbp-direction__timespent__inner 16 ч 40 мин, 1 пересадка
                .ottbp-direction__company
                  span.ottbp-direction__company__inner Emirates

            .ottbp-trip__directions__item
              .ottbp-direction
                .ottbp-direction__title
                  span.ottbp-direction__title__icon.ottbp-icon-fly.ottbp-icon-fly--from
                  span.ottbp-direction__title__inner Туда
                  span.ottbp-direction__title__inner!=' 10 янв'
                .ottbp-direction__time
                  span.ottbp-direction__time__inner 23:55 — 08:30
                .ottbp-direction__timespent
                  span.ottbp-direction__timespent__inner 16 ч 40 мин, 1 пересадка
                .ottbp-direction__company
                  span.ottbp-direction__company__inner Emirates
        .ottbp-trip__footer
          .ottbp-trip__price
            span.ottbp-trip__price__inner 68 486 ₽

          .ottbp-trip__btn
            a(href="").ottbp-btn-link
              span.ottbp-btn-link__inner Выбрать
              span.ottbp-btn-link__icon.ottbp-icon-arrow


    li.ottbp-results__list__item
    li.ottbp-results__list__item