include ./../components/select

#selects
//-.ottbp-selects
  .ottbp-selects__cell.ottbp-selects--route#route
    //-+ottbp_select('Туда-обратно', true)
  .ottbp-selects__cell.ottbp-selects--type#type
    //-+ottbp_select('Эконом', true)
  .ottbp-selects__cell.ottbp-selects--transfer#transfer
    //-+ottbp_select('Любые пересадки')
  .ottbp-selects__cell.ottbp-selects--duration
    +ottbp_select('Любое количество дней')
