
div.ottbp-btn-day {
  
  display: block;
  
  width: @exs_size;
  height: @exs_size;
  position: relative;
  
  text-align: center;
  
  border: 0;
  background: transparent;
  outline: none;
  box-shadow: none;
  
  box-sizing: border-box;
  cursor: pointer;
  
  color: black;
  text-decoration: none;
  
  z-index: 100;
  
  * {
    cursor: pointer;
  }
  
  .ottbp-extrasmall & {
    width: @xs_size;
    height: @xs_size;
  }
  
  .ottbp-more-small & {
    width: @small_size;
    height: @small_size;
  }
  
  //a&:before, a&:after {
  //  content: '';
  //  display: inline-block;
  //  vertical-align: middle;
  //  height: @exs_size;
  //  width: 0;
  //
  //  .ottbp-extrasmall & {
  //    height: @xs_size;
  //  }
  //  .ottbp-more-small & {
  //    height: @small_size;
  //  }
  //}
}

div.ottbp-btn-day__hover {
  position: absolute;
  z-index: 0;
  top: 1px;
  left: 1px;
  
  background: transparent;
  width: @exs_size - 2px;
  height: @exs_size - 2px;
  
  border-radius: 50%;
  //
  //.transition(background .2s ease);
  
  .ottbp-extrasmall & {
    width: @xs_size - 2px;
    height: @xs_size - 2px;
  }
  .ottbp-more-small & {
    width: @small_size - 4px;
    height: @small_size - 4px;
  }
}

div.ottbp-btn-day__back {
  position: absolute;
  top: 1px;
  left: 1px;
  
  width: @exs_size - 2px;
  height: @exs_size - 2px;
  
  border-radius: 50%;
  z-index: 1;
  
  //.transition(background .2s ease, border-radius .1s ease);
  .ottbp-extrasmall & {
    top: 1px;
    left: 1px;
    
    width: @xs_size - 2px;
    height: @xs_size - 2px;
  }
  .ottbp-more-small & {
    top: 2px;
    left: 2px;
    width: @small_size - 4px;
    height: @small_size - 4px;
  }
}

div.ottbp-btn-day__price {
  //display: inline-block;
  
  //display: block;
  
  //position: absolute;
  
  width: @exs_size - 6;
  height: @exs_size - 6;
  
  border-radius: 50%;
  z-index: 2;
  vertical-align: middle;
  
  //position: relative;
  
  //position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  position: absolute;
  
  margin: auto;
  
  //.stop-flickering();
  
  &.ottbp--none_price {
    background: fade(#FFFFFF, 80%);
    box-shadow: 0 0 0 1px fade(#E0E0E0, 80%);
  }
  
  .ottbp-extrasmall & {
    width: @xs_size - 6;
    height: @xs_size - 6;
  }
  .ottbp-more-small & {
    width: @small_size - 12;
    height: @small_size - 12;
  }
  
}

div.ottbp-btn-day__inner {
  z-index: 110;
  position: absolute;
  height: 15px;
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  right: 0;
  margin: auto;
  
  font-family: Roboto, Roboto-Regular, sans-serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 15px;
  
  .ottbp-extrasmall & {
    
    font-size: 14px;
    line-height: 15px;
    height: 15px;
    width: 20px;
    
  }
  
  .ottbp-more-small & {
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    width: 20px;
  }
}

.ottbp-btn-day.ottbp-btn-day--disabled {
  div.ottbp-btn-day__inner {
    color: #D4D2D2;
  }
  div.ottbp-btn-day__price {
    display: none;
  }
}

div.ottbp-btn-day:not(.ottbp-btn-day--disabled):hover {
  div.ottbp-btn-day__price {
    width: @exs_size - 2;
    height: @exs_size - 2;
    
    .ottbp-extrasmall & {
      width: @xs_size - 2;
      height: @xs_size - 2;
    }
    
    .ottbp-more-small & {
      width: @small_size - 4;
      height: @small_size - 4;
    }
  }
}

/*&:not(.ottbp-btn-day--disabled):hover*/

.ottbp-btn-day.ottbp-btn-day--selected {
  
  //.ottbp--none_price {
  //  background: transparent;
  //  border: 0;
  //  box-shadow: none;
  //}
  div.ottbp-btn-day__back {
    background: #FFE470;
  }
  
  div.ottbp-btn-day__price {
    width: 0;
    height: 0;
    opacity: 0;
  }
  
}

.ottbp-btn-day.ottbp-btn-day--hover {
  
  div.ottbp-btn-day__hover {
    //background: green;
    background: fade(gray, 20%);
    border: 1px solid fade(lighten(#FFE470, 10%), 25%);
  }
  
  &--after, &--before {
    div.ottbp-btn-day__hover {
      width: @exs_size - 1;
      .ottbp-extrasmall & {
        width: @xs_size - 1;
      }
      .ottbp-more-small & {
        width: @small_size - 2;
      }
    }
    
  }
  
  &--after.ottbp-btn-day--hover--before {
    div.ottbp-btn-day__hover {
      width: @exs_size;
      .ottbp-extrasmall & {
        width: @xs_size;
      }
      .ottbp-more-small & {
        width: @small_size;
      }
    }
    
  }
  
  &--after {
    div.ottbp-btn-day__hover {
      
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }
  &--before {
    
    div.ottbp-btn-day__hover {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      
    }
  }
  
}

.ottbp-btn-day.ottbp-btn-day--selected {
  &--after, &--before {
    div.ottbp-btn-day__back {
      width: @exs_size - 1;
      .ottbp-extrasmall & {
        width: @xs_size - 1;
      }
      .ottbp-more-small & {
        width: @small_size - 2;
      }
    }
    
  }
  &--after.ottbp-btn-day--selected--before {
    
    div.ottbp-btn-day__back {
      width: @exs_size;
      .transition(background .2s ease, border-radius .1s ease);
      .ottbp-extrasmall & {
        width: @xs_size;
      }
      .ottbp-more-small & {
        width: @small_size;
      }
    }
    div.ottbp-btn-day__price {
      width: 0;
      height: 0;
      opacity: 0;
      
    }
  }
  &--after {
    div.ottbp-btn-day__back {
      
      //margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &--before {
    
    div.ottbp-btn-day__back {
      left: 0;
      //margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
  
