@import "./../../../assets/mixins";

@exs_day_size: 30px;
@xs_day_size: 38px;
@small_day_size: 48px;

a.ottbp-day {
  display: block;
  text-decoration: none;
  position: relative;
  .size(@exs_day_size);
}

span.ottbp-day__hover,
span.ottbp-day__select,
span.ottbp-day__color,
span.ottbp-day__num {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

span.ottbp-day__hover,
span.ottbp-day__select,
span.ottbp-day__color {
  border-radius: 50%;
}

span.ottbp-day__hover {
  z-index: 1;
  width: 0;
  height: 0;
  background: red;
}

span.ottbp-day__select {
  z-index: 4;
}

span.ottbp-day__color {
  z-index: 7;
  
  background: fade(#FFFFFF, 80%);
  box-shadow: 0 0 0 1px fade(#E0E0E0, 80%);
}

span.ottbp-day__num {
  z-index: 10;
  text-align: center;
  display: block;
  
  .size(@exs_day_size);
  .vertical-middle(@exs_day_size, span);
}

a.ottbp-day.ottbp-day--hovered {
  span.ottbp-day__hover {
    .size(@exs_day_size);
  }
}