.ottbp-input {
  input[type=text]&__field {
    margin: 0;
    padding: 15px 11px 14px;
    
    
    background: transparent;
    border: 0;
    outline: 0;
    
    color: #424242;
  
    display: block;
    width: 100%;
    box-sizing: border-box;
    
    box-shadow: none;
    
    &:focus{
      box-shadow: inset 0 0 0 1px #D4D2D2;
    }
  
    .ottbp-control--error &{
  
      color: darken(rgb(255, 89, 55), 30%);
      &:focus{
        box-shadow: inset 0 0 0 1px rgb(255, 89, 55);
      }
    }
  }
}