.ottbp-input-helper {
  
  
  div& {
    max-height: (6*49px + 9px);
    
    overflow-y: auto;
    position: relative;
  }
  
  ul&__list {
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    li.ottbp-input-helper__list__item {
      display: block;
      border: 1px solid #EEEEEE;
      border-top: 0;
      margin-top: 0;
      padding: 0;
    }
  }
  
}

a.ottbp-input-helper-link {
  
  @padding-top: 17px;
  @padding-bottom: 16px;
  @padding-side: 11px;
  display: block;
  position: relative;
  
  padding: @padding-top @padding-side @padding-bottom;
  text-decoration: none;
  
  span {
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.17px;
  
    vertical-align: middle;
    
    svg{
      display: block;
    }
  }
  span.ottbp-helper-icon {
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
  }
  span.ottbp-helper-strong {
    color: #424242;
  }
  
  span.ottbp-helper-gray {
    color: #9E9E9E;
  }
  
  span.ottbp-helper-iata {
    display: block;
    position: absolute;
    color: #9E9E9E;
    right: 0;
    top: 0;
    padding: @padding-top @padding-side @padding-bottom;
  }
  
  &:hover {
    background: #e5e5e5;
  }
  
  &.ottbp-highlight {
    background: #e5e5e5;
  }
}