.ottbp-placeholder {
  
  div& {
    margin: 0;
    padding: 15px 11px 14px;
  }
  
  span {
    letter-spacing: inherit;
    font-size: inherit;
  }
  
  span&__hidden {
    color: transparent;
  }
  
  span&__visible {
    color: #9E9E9E;
    opacity: .7;
  
    .ottbp-control--error &{
      color: lighten(rgb(255, 89, 55), 10%);
    }
  }
  
}