.ottbp-widget {
  /*
  * CleanSlate
  *   github.com/premasagar/cleanslate
  *
  */
  /*
      An extreme CSS reset stylesheet, for normalising the styling of a container element and its children.
  
      by Premasagar Rose
          dharmafly.com
  
      license
          opensource.org/licenses/mit-license.php
  
      **
  
      v0.10.1
  
  */
  /* == BLANKET RESET RULES == */
  /* HTML 4.01 */
  /* == BLOCK-LEVEL == */
  /* Actually, some of these should be inline-block and other values, but block works fine (TODO: rigorously verify this) */
  /* HTML 4.01 */
  /* == SPECIFIC ELEMENTS == */
  /* Some of these are browser defaults; some are just useful resets */
  /* helper for general navigation */
  /* restore form defaults */
  /* additional helpers */
  /* == ROOT CONTAINER ELEMENT == */
  /* This contains default values for child elements to inherit  */
  font-size: medium !important;
  line-height: 1 !important;
  direction: ltr !important;
  text-align: left !important;
  /* for IE, Opera */
  text-align: start !important;
  /* recommended W3C Spec */
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  /* Override this with whatever font-family is required */
  color: black !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
  list-style-type: disc !important;
  background-attachment: scroll !important;
  background-color: transparent !important;
  background-image: none !important;
  /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  border-style: none !important;
  border-width: medium !important;
  bottom: auto !important;
  clear: none !important;
  clip: auto !important;
  counter-increment: none !important;
  counter-reset: none !important;
  cursor: auto !important;
  display: inline !important;
  float: none !important;
  font-variant: normal !important;
  height: auto !important;
  left: auto !important;
  letter-spacing: normal !important;
  list-style-position: outside !important;
  list-style-image: none !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  opacity: 1;
  outline: invert none medium !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  quotes: "" "" !important;
  right: auto !important;
  table-layout: auto !important;
  text-align: inherit !important;
  text-decoration: inherit !important;
  text-indent: 0 !important;
  text-transform: none !important;
  top: auto !important;
  unicode-bidi: normal !important;
  vertical-align: baseline !important;
  visibility: inherit !important;
  white-space: normal !important;
  width: auto !important;
  word-spacing: normal !important;
  z-index: auto !important;
  /* CSS3 */
  /* Including all prefixes according to http://caniuse.com/ */
  /* CSS Animations don't cascade, so don't require resetting */
  -webkit-background-origin: padding-box !important;
  background-origin: padding-box !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  background-size: auto !important;
  -webkit-border-image: none !important;
  -moz-border-image: none !important;
  -o-border-image: none !important;
  border-image: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  -webkit-column-count: auto !important;
  -moz-column-count: auto !important;
  column-count: auto !important;
  -webkit-column-gap: normal !important;
  -moz-column-gap: normal !important;
  column-gap: normal !important;
  -webkit-column-rule: medium none black !important;
  -moz-column-rule: medium none black !important;
  column-rule: medium none black !important;
  -webkit-column-span: 1 !important;
  -moz-column-span: 1 !important;
  /* doesn't exist yet but probably will */
  column-span: 1 !important;
  -webkit-column-width: auto !important;
  -moz-column-width: auto !important;
  column-width: auto !important;
  font-feature-settings: normal !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  -webkit-hyphens: manual !important;
  -moz-hyphens: manual !important;
  hyphens: manual !important;
  -webkit-perspective: none !important;
  -moz-perspective: none !important;
  -ms-perspective: none !important;
  -o-perspective: none !important;
  perspective: none !important;
  -webkit-perspective-origin: 50% 50% !important;
  -moz-perspective-origin: 50% 50% !important;
  -ms-perspective-origin: 50% 50% !important;
  -o-perspective-origin: 50% 50% !important;
  perspective-origin: 50% 50% !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
  text-shadow: none !important;
  -webkit-transition: all 0s ease 0s !important;
  transition: all 0s ease 0s !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-transform-origin: 50% 50% !important;
  -moz-transform-origin: 50% 50% !important;
  -ms-transform-origin: 50% 50% !important;
  -o-transform-origin: 50% 50% !important;
  transform-origin: 50% 50% !important;
  -webkit-transform-style: flat !important;
  -moz-transform-style: flat !important;
  -ms-transform-style: flat !important;
  -o-transform-style: flat !important;
  transform-style: flat !important;
  word-break: normal !important;
  min-width: 320px !important;
}
.ottbp-widget h1,
.ottbp-widget h2,
.ottbp-widget h3,
.ottbp-widget h4,
.ottbp-widget h5,
.ottbp-widget h6,
.ottbp-widget p,
.ottbp-widget td,
.ottbp-widget dl,
.ottbp-widget tr,
.ottbp-widget dt,
.ottbp-widget ol,
.ottbp-widget form,
.ottbp-widget select,
.ottbp-widget option,
.ottbp-widget pre,
.ottbp-widget div,
.ottbp-widget table,
.ottbp-widget th,
.ottbp-widget tbody,
.ottbp-widget tfoot,
.ottbp-widget caption,
.ottbp-widget thead,
.ottbp-widget ul,
.ottbp-widget li,
.ottbp-widget address,
.ottbp-widget blockquote,
.ottbp-widget dd,
.ottbp-widget fieldset,
.ottbp-widget li,
.ottbp-widget iframe,
.ottbp-widget strong,
.ottbp-widget legend,
.ottbp-widget em,
.ottbp-widget summary,
.ottbp-widget cite,
.ottbp-widget span,
.ottbp-widget input,
.ottbp-widget sup,
.ottbp-widget label,
.ottbp-widget dfn,
.ottbp-widget object,
.ottbp-widget big,
.ottbp-widget q,
.ottbp-widget samp,
.ottbp-widget acronym,
.ottbp-widget small,
.ottbp-widget img,
.ottbp-widget strike,
.ottbp-widget code,
.ottbp-widget sub,
.ottbp-widget ins,
.ottbp-widget textarea,
.ottbp-widget button,
.ottbp-widget var,
.ottbp-widget a,
.ottbp-widget abbr,
.ottbp-widget applet,
.ottbp-widget del,
.ottbp-widget kbd,
.ottbp-widget tt,
.ottbp-widget b,
.ottbp-widget i,
.ottbp-widget hr,
.ottbp-widget article,
.ottbp-widget aside,
.ottbp-widget figure,
.ottbp-widget figcaption,
.ottbp-widget footer,
.ottbp-widget header,
.ottbp-widget menu,
.ottbp-widget nav,
.ottbp-widget section,
.ottbp-widget time,
.ottbp-widget mark,
.ottbp-widget audio,
.ottbp-widget video,
.ottbp-widget abbr,
.ottbp-widget address,
.ottbp-widget area,
.ottbp-widget blockquote,
.ottbp-widget canvas,
.ottbp-widget caption,
.ottbp-widget cite,
.ottbp-widget code,
.ottbp-widget colgroup,
.ottbp-widget col,
.ottbp-widget datalist,
.ottbp-widget fieldset,
.ottbp-widget main,
.ottbp-widget map,
.ottbp-widget meta,
.ottbp-widget optgroup,
.ottbp-widget output,
.ottbp-widget progress {
  background-attachment: scroll !important;
  background-color: transparent !important;
  background-image: none !important;
  /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  border-color: black !important;
  border-color: currentColor !important;
  /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
  border-style: none !important;
  border-width: medium !important;
  bottom: auto !important;
  clear: none !important;
  clip: auto !important;
  color: inherit !important;
  counter-increment: none !important;
  counter-reset: none !important;
  cursor: auto !important;
  direction: inherit !important;
  display: inline !important;
  float: none !important;
  font-family: inherit !important;
  /* As with other inherit values, this needs to be set on the root container element */
  font-size: inherit !important;
  font-style: inherit !important;
  font-variant: normal !important;
  font-weight: inherit !important;
  height: auto !important;
  left: auto !important;
  letter-spacing: normal !important;
  line-height: inherit !important;
  list-style-type: inherit !important;
  /* Could set list-style-type to none */
  list-style-position: outside !important;
  list-style-image: none !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  opacity: 1;
  outline: invert none medium !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  quotes: "" "" !important;
  right: auto !important;
  table-layout: auto !important;
  text-align: inherit !important;
  text-decoration: inherit !important;
  text-indent: 0 !important;
  text-transform: none !important;
  top: auto !important;
  unicode-bidi: normal !important;
  vertical-align: baseline !important;
  visibility: inherit !important;
  white-space: normal !important;
  width: auto !important;
  word-spacing: normal !important;
  z-index: auto !important;
  /* CSS3 */
  /* Including all prefixes according to http://caniuse.com/ */
  /* CSS Animations don't cascade, so don't require resetting */
  -webkit-background-origin: padding-box !important;
  background-origin: padding-box !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  background-size: auto !important;
  -webkit-border-image: none !important;
  -moz-border-image: none !important;
  -o-border-image: none !important;
  border-image: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  -webkit-column-count: auto !important;
  -moz-column-count: auto !important;
  column-count: auto !important;
  -webkit-column-gap: normal !important;
  -moz-column-gap: normal !important;
  column-gap: normal !important;
  -webkit-column-rule: medium none black !important;
  -moz-column-rule: medium none black !important;
  column-rule: medium none black !important;
  -webkit-column-span: 1 !important;
  -moz-column-span: 1 !important;
  /* doesn't exist yet but probably will */
  column-span: 1 !important;
  -webkit-column-width: auto !important;
  -moz-column-width: auto !important;
  column-width: auto !important;
  font-feature-settings: normal !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  -webkit-hyphens: manual !important;
  -moz-hyphens: manual !important;
  hyphens: manual !important;
  -webkit-perspective: none !important;
  -moz-perspective: none !important;
  -ms-perspective: none !important;
  -o-perspective: none !important;
  perspective: none !important;
  -webkit-perspective-origin: 50% 50% !important;
  -moz-perspective-origin: 50% 50% !important;
  -ms-perspective-origin: 50% 50% !important;
  -o-perspective-origin: 50% 50% !important;
  perspective-origin: 50% 50% !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
  text-shadow: none !important;
  -webkit-transition: all 0s ease 0s !important;
  transition: all 0s ease 0s !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-transform-origin: 50% 50% !important;
  -moz-transform-origin: 50% 50% !important;
  -ms-transform-origin: 50% 50% !important;
  -o-transform-origin: 50% 50% !important;
  transform-origin: 50% 50% !important;
  -webkit-transform-style: flat !important;
  -moz-transform-style: flat !important;
  -ms-transform-style: flat !important;
  -o-transform-style: flat !important;
  transform-style: flat !important;
  word-break: normal !important;
}
.ottbp-widget,
.ottbp-widget h3,
.ottbp-widget h5,
.ottbp-widget p,
.ottbp-widget h1,
.ottbp-widget dl,
.ottbp-widget dt,
.ottbp-widget h6,
.ottbp-widget ol,
.ottbp-widget form,
.ottbp-widget option,
.ottbp-widget pre,
.ottbp-widget div,
.ottbp-widget h2,
.ottbp-widget caption,
.ottbp-widget h4,
.ottbp-widget ul,
.ottbp-widget address,
.ottbp-widget blockquote,
.ottbp-widget dd,
.ottbp-widget fieldset,
.ottbp-widget hr,
.ottbp-widget article,
.ottbp-widget dialog,
.ottbp-widget figure,
.ottbp-widget footer,
.ottbp-widget header,
.ottbp-widget hgroup,
.ottbp-widget menu,
.ottbp-widget nav,
.ottbp-widget section,
.ottbp-widget audio,
.ottbp-widget video,
.ottbp-widget address,
.ottbp-widget blockquote,
.ottbp-widget colgroup,
.ottbp-widget main,
.ottbp-widget progress,
.ottbp-widget summary {
  display: block !important;
}
.ottbp-widget h1,
.ottbp-widget h2,
.ottbp-widget h3,
.ottbp-widget h4,
.ottbp-widget h5,
.ottbp-widget h6 {
  font-weight: 700 !important;
}
.ottbp-widget h1 {
  font-size: 2em !important;
  padding: .67em 0 !important;
}
.ottbp-widget h2 {
  font-size: 1.5em !important;
  padding: .83em 0 !important;
}
.ottbp-widget h3 {
  font-size: 1.17em !important;
  padding: .83em 0 !important;
}
.ottbp-widget h4 {
  font-size: 1em !important;
}
.ottbp-widget h5 {
  font-size: .83em !important;
}
.ottbp-widget p {
  margin: 1em 0 !important;
}
.ottbp-widget table {
  display: table !important;
}
.ottbp-widget thead {
  display: table-header-group !important;
}
.ottbp-widget tbody {
  display: table-row-group !important;
}
.ottbp-widget tfoot {
  display: table-footer-group !important;
}
.ottbp-widget tr {
  display: table-row !important;
}
.ottbp-widget th,
.ottbp-widget td {
  display: table-cell !important;
  padding: 2px !important;
}
.ottbp-widget ol,
.ottbp-widget ul {
  margin: 1em 0 !important;
  -webkit-padding-start: 0 !important;
}
.ottbp-widget ul li,
.ottbp-widget ul ul li,
.ottbp-widget ul ul ul li,
.ottbp-widget ol li,
.ottbp-widget ol ol li,
.ottbp-widget ol ol ol li,
.ottbp-widget ul ol ol li,
.ottbp-widget ul ul ol li,
.ottbp-widget ol ul ul li,
.ottbp-widget ol ol ul li {
  list-style-position: inside !important;
  margin-top: .08em !important;
}
.ottbp-widget ol ol,
.ottbp-widget ol ol ol,
.ottbp-widget ul ul,
.ottbp-widget ul ul ul,
.ottbp-widget ol ul,
.ottbp-widget ol ul ul,
.ottbp-widget ol ol ul,
.ottbp-widget ul ol,
.ottbp-widget ul ol ol,
.ottbp-widget ul ul ol {
  padding-left: 40px !important;
  margin: 0 !important;
}
.ottbp-widget nav ul,
.ottbp-widget nav ol {
  list-style-type: none !important;
}
.ottbp-widget ul,
.ottbp-widget menu {
  list-style-type: disc !important;
}
.ottbp-widget ol {
  list-style-type: decimal !important;
}
.ottbp-widget ol ul,
.ottbp-widget ul ul,
.ottbp-widget menu ul,
.ottbp-widget ol menu,
.ottbp-widget ul menu,
.ottbp-widget menu menu {
  list-style-type: circle !important;
}
.ottbp-widget ol ol ul,
.ottbp-widget ol ul ul,
.ottbp-widget ol menu ul,
.ottbp-widget ol ol menu,
.ottbp-widget ol ul menu,
.ottbp-widget ol menu menu,
.ottbp-widget ul ol ul,
.ottbp-widget ul ul ul,
.ottbp-widget ul menu ul,
.ottbp-widget ul ol menu,
.ottbp-widget ul ul menu,
.ottbp-widget ul menu menu,
.ottbp-widget menu ol ul,
.ottbp-widget menu ul ul,
.ottbp-widget menu menu ul,
.ottbp-widget menu ol menu,
.ottbp-widget menu ul menu,
.ottbp-widget menu menu menu {
  list-style-type: square !important;
}
.ottbp-widget li {
  display: list-item !important;
  /* Fixes IE7 issue with positioning of nested bullets */
  min-height: auto !important;
  min-width: auto !important;
  padding-left: 20px !important;
  /* replace -webkit-padding-start: 40px; */
}
.ottbp-widget strong {
  font-weight: 700 !important;
}
.ottbp-widget em {
  font-style: italic !important;
}
.ottbp-widget kbd,
.ottbp-widget samp,
.ottbp-widget code,
.ottbp-widget pre {
  font-family: monospace !important;
}
.ottbp-widget a {
  color: blue !important;
  text-decoration: underline !important;
}
.ottbp-widget a:visited {
  color: #529 !important;
}
.ottbp-widget a,
.ottbp-widget a *,
.ottbp-widget input[type=submit],
.ottbp-widget input[type=button],
.ottbp-widget input[type=radio],
.ottbp-widget input[type=checkbox],
.ottbp-widget select,
.ottbp-widget button {
  cursor: pointer !important;
}
.ottbp-widget button,
.ottbp-widget input[type=submit] {
  text-align: center !important;
  padding: 2px 6px 3px !important;
  border-radius: 4px !important;
  text-decoration: none !important;
  font-family: arial, helvetica, sans-serif !important;
  font-size: small !important;
  background: white !important;
  -webkit-appearance: push-button !important;
  color: buttontext !important;
  border: 1px #a6a6a6 solid !important;
  background: lightgrey !important;
  /* Old browsers */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%, #d1d1d1 100%, #dddddd 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd), color-stop(100%, #d1d1d1), color-stop(100%, #dddddd)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%, #d1d1d1 100%, #dddddd 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%, #d1d1d1 100%, #dddddd 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%, #d1d1d1 100%, #dddddd 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%, #d1d1d1 100%, #dddddd 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0) !important;
  /* IE6-9 */
  -webkit-box-shadow: 1px 1px 0px #eee !important;
  -moz-box-shadow: 1px 1px 0px #eee !important;
  -o-box-shadow: 1px 1px 0px #eee !important;
  box-shadow: 1px 1px 0px #eee !important;
  outline: initial !important;
}
.ottbp-widget button:active,
.ottbp-widget input[type=submit]:active,
.ottbp-widget input[type=button]:active,
.ottbp-widget button:active {
  background: #3b679e !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b679e), color-stop(50%, #2b88d9), color-stop(51%, #207cca), color-stop(100%, #7db9e8)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%) !important;
  /* W3C */
  border-color: #5259b0 !important;
}
.ottbp-widget button {
  padding: 1px 6px 2px 6px !important;
  margin-right: 5px !important;
}
.ottbp-widget input[type=hidden] {
  display: none !important;
}
.ottbp-widget textarea {
  -webkit-appearance: textarea !important;
  background: white !important;
  padding: 2px !important;
  margin-left: 4px !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  font-size: 11px !important;
  font-family: arial, helvetica, sans-serif !important;
  line-height: 13px !important;
  resize: both !important;
}
.ottbp-widget select,
.ottbp-widget textarea,
.ottbp-widget input {
  border: 1px solid #ccc !important;
}
.ottbp-widget select {
  font-size: 11px !important;
  font-family: helvetica, arial, sans-serif !important;
  display: inline-block;
}
.ottbp-widget textarea:focus,
.ottbp-widget input:focus {
  outline: auto 5px -webkit-focus-ring-color !important;
  outline: initial !important;
}
.ottbp-widget input[type=text] {
  background: white !important;
  padding: 1px !important;
  font-family: initial !important;
  font-size: small !important;
}
.ottbp-widget input[type=checkbox],
.ottbp-widget input[type=radio] {
  border: 1px #2b2b2b solid !important;
  border-radius: 4px !important;
}
.ottbp-widget input[type=checkbox],
.ottbp-widget input[type=radio] {
  outline: initial !important;
}
.ottbp-widget input[type=radio] {
  margin: 2px 2px 3px 2px !important;
}
.ottbp-widget abbr[title],
.ottbp-widget acronym[title],
.ottbp-widget dfn[title] {
  cursor: help !important;
  border-bottom-width: 1px !important;
  border-bottom-style: dotted !important;
}
.ottbp-widget ins {
  background-color: #ff9 !important;
  color: black !important;
}
.ottbp-widget del {
  text-decoration: line-through !important;
}
.ottbp-widget blockquote,
.ottbp-widget q {
  quotes: none !important;
  /* HTML5 */
}
.ottbp-widget blockquote:before,
.ottbp-widget blockquote:after,
.ottbp-widget q:before,
.ottbp-widget q:after,
.ottbp-widget li:before,
.ottbp-widget li:after {
  content: "" !important;
}
.ottbp-widget input,
.ottbp-widget select {
  vertical-align: middle !important;
}
.ottbp-widget table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.ottbp-widget hr {
  display: block !important;
  height: 1px !important;
  border: 0 !important;
  border-top: 1px solid #ccc !important;
  margin: 1em 0 !important;
}
.ottbp-widget *[dir=rtl] {
  direction: rtl !important;
}
.ottbp-widget mark {
  background-color: #ff9 !important;
  color: black !important;
  font-style: italic !important;
  font-weight: 700 !important;
}
.ottbp-widget menu {
  padding-left: 40px !important;
  padding-top: 8px !important;
}
.ottbp-widget [hidden],
.ottbp-widget template {
  display: none !important;
}
.ottbp-widget abbr[title] {
  border-bottom: 1px dotted !important;
}
.ottbp-widget sub,
.ottbp-widget sup {
  font-size: 75% !important;
  line-height: 0 !important;
  position: relative !important;
  vertical-align: baseline !important;
}
.ottbp-widget sup {
  top: -0.5em !important;
}
.ottbp-widget sub {
  bottom: -0.25em !important;
}
.ottbp-widget img {
  border: 0 !important;
}
.ottbp-widget figure {
  margin: 0 !important;
}
.ottbp-widget textarea {
  overflow: auto !important;
  vertical-align: top !important;
}
.ottbp-widget pre {
  white-space: pre !important;
}
@-webkit-keyframes display_up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes display_up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes display_up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes display_up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes hide_right {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@-moz-keyframes hide_right {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@-o-keyframes hide_right {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@keyframes hide_right {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
    -moz-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@-webkit-keyframes loader_spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes loader_spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes loader_spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes loader_spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes loader_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes loader_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes loader_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes loader_show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
button {
  width: auto !important;
  overflow: visible !important;
}
.ottbp-texts--textfield,
div.ottbp-texts--textfield,
input[type=text].ottbp-texts--textfield,
.ottbp-texts--month,
button.ottbp-texts--month,
.ottbp-texts--title,
.ottbp-texts--day {
  /* Берлин, Германия: */
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 16px !important;
  letter-spacing: 0.2px !important;
  line-height: 19px !important;
}
.ottbp-texts--btn,
button.ottbp-texts--btn,
a.ottbp-texts--btn,
div.ottbp-texts--price,
tr.ottbp-texts--week-days {
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 13px !important;
  letter-spacing: 0.2px !important;
  line-height: 15px !important;
  text-decoration: none !important;
}
div.ottbp--low_price,
button.ottbp--low_price {
  background: #B8E9C0 !important;
}
div.ottbp--middle_price,
button.ottbp--middle_price {
  background: #EFF9E8 !important;
}
div.ottbp--high_price,
button.ottbp--high_price {
  background: #FFD3BC !important;
}
.ottbp-btn.ottbp--low_price:hover {
  background: #a5e3af !important;
}
.ottbp-btn.ottbp--middle_price:hover {
  background: #e1f4d4 !important;
}
.ottbp-btn.ottbp--high_price:hover {
  background: #ffc2a3 !important;
}
div.ottbp-black,
span.ottbp-black {
  color: #424242 !important;
}
div.ottbp-gray,
span.ottbp-gray {
  color: #9E9E9E !important;
}
.ottbp-inputs__maxi {
  position: relative !important;
}
.ottbp-inputs__maxi:before,
.ottbp-inputs__maxi:after {
  content: " " !important;
  display: table !important;
}
.ottbp-inputs__maxi:after {
  clear: both !important;
}
.ottbp-inputs__maxi div.ottbp-inputs--from {
  width: 38.94230769% !important;
}
.ottbp-inputs__maxi div.ottbp-inputs--to {
  width: 49.03846154% !important;
}
.ottbp-inputs__maxi div.ottbp-inputs--search {
  width: 12.01923077% !important;
}
.ottbp-inputs__maxi div.ottbp-inputs__field {
  box-sizing: border-box !important;
  float: left !important;
  border-right: 1px solid #E0E0E0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
}
.ottbp-inputs__maxi div.ottbp-inputs__field:first-child .ottbp-control {
  border-radius: 2px 0 0 2px !important;
}
.ottbp-inputs__maxi div.ottbp-inputs__field:last-child {
  border-right: 0 !important;
}
.ottbp-inputs__maxi div.ottbp-inputs__field:last-child .ottbp-control {
  border-radius: 0 2px 2px 0 !important;
}
.ottbp-inputs__maxi div.ottbp-inputs__field.ottbp-control--error {
  border-color: #ff5937 !important;
}
div.ottbp-inputs__field {
  box-sizing: border-box !important;
  border-bottom: 1px solid #E0E0E0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
div.ottbp-inputs__field:last-child {
  border-bottom: 0 !important;
}
div.ottbp-inputs__field.ottbp-control--error {
  border-color: red !important;
}
.ottbp-more-extrasmall .ottbp-inputs {
  position: relative !important;
}
.ottbp-more-extrasmall .ottbp-inputs:before,
.ottbp-more-extrasmall .ottbp-inputs:after {
  content: " " !important;
  display: table !important;
}
.ottbp-more-extrasmall .ottbp-inputs:after {
  clear: both !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs--from {
  width: 38.94230769% !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs--to {
  width: 49.03846154% !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs--search {
  width: 12.01923077% !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs__field {
  box-sizing: border-box !important;
  float: left !important;
  border-right: 1px solid #E0E0E0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs__field:first-child .ottbp-control {
  border-radius: 2px 0 0 2px !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs__field:last-child {
  border-right: 0 !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs__field:last-child .ottbp-control {
  border-radius: 0 2px 2px 0 !important;
}
.ottbp-more-extrasmall .ottbp-inputs div.ottbp-inputs__field.ottbp-control--error {
  border-color: #ff5937 !important;
}
.ottbp-more-big .ottbp-inputs div.ottbp-inputs--from {
  width: 41.94711538% !important;
}
.ottbp-more-big .ottbp-inputs div.ottbp-inputs--to {
  width: 52.04326923% !important;
}
.ottbp-more-big .ottbp-inputs div.ottbp-inputs--search {
  width: 6.00961538% !important;
}
div.ottbp-selects {
  margin: 0 -4px !important;
  font-size: 0 !important;
  position: relative !important;
}
div.ottbp-selects:before,
div.ottbp-selects:after {
  content: " " !important;
  display: table !important;
}
div.ottbp-selects:after {
  clear: both !important;
}
div.ottbp-selects__cell {
  display: inline-block !important;
  box-sizing: border-box !important;
  width: 50% !important;
  -webkit-transition: width 0.2s ease !important;
  -moz-transition: width 0.2s ease !important;
  -ms-transition: width 0.2s ease !important;
  -o-transition: width 0.2s ease !important;
  transition: width 0.2s ease !important;
}
div.ottbp-selects__cell__wrap {
  padding: 4px !important;
}
div.ottbp-results {
  width: 100% !important;
  position: relative !important;
}
ul.ottbp-results__list {
  list-style: none !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  padding: 0 !important;
}
li.ottbp-results__list__item {
  margin: 0 0 12px !important;
  padding: 0 !important;
  -webkit-animation-name: display_up !important;
  -moz-animation-name: display_up !important;
  -o-animation-name: display_up !important;
  animation-name: display_up !important;
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -o-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
li.ottbp-results__list__item:nth-child(2) {
  -webkit-animation-delay: 0.1s !important;
  -moz-animation-delay: 0.1s !important;
  -o-animation-delay: 0.1s !important;
  animation-delay: 0.1s !important;
}
li.ottbp-results__list__item:nth-child(3) {
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}
li.ottbp-results__list__item:nth-child(4) {
  -webkit-animation-delay: 0.3s !important;
  -moz-animation-delay: 0.3s !important;
  -o-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}
li.ottbp-results__list__item div.ottbp-results__list__item--empty {
  color: #424242 !important;
  text-align: center !important;
  display: none !important;
}
.ottbp-results.ottbp-loading ul.ottbp-results__list {
  position: absolute !important;
  width: 100% !important;
}
.ottbp-results.ottbp-loading li.ottbp-results__list__item {
  -webkit-animation-name: hide_right !important;
  -moz-animation-name: hide_right !important;
  -o-animation-name: hide_right !important;
  animation-name: hide_right !important;
}
div.ottbp-results__loader {
  position: absolute !important;
  top: 30px !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
  text-align: center !important;
}
div.ottbp-results__after-loader {
  text-align: center !important;
  padding-right: 20px !important;
}
div.ottbp-error,
div.ottbp-info,
div.ottbp-more {
  color: #424242 !important;
  padding: 10px 20px 10px !important;
  line-height: 1.4 !important;
}
div.ottbp-info a {
  color: #01ABFB !important;
  text-decoration: none !important;
}
div.ottbp-info a:hover {
  color: #0188c8 !important;
  text-decoration: underline !important;
}
div.ottbp-more {
  text-align: right !important;
}
div.ottbp-more a {
  display: inline-block !important;
  background: #01ABFB !important;
  border-radius: 2px !important;
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0.2px !important;
  padding: 7px 11px !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
div.ottbp-more a:visited {
  color: #EEEEEE !important;
}
div.ottbp-more a:hover {
  background: #0188c8 !important;
  color: white !important;
}
div.ottbp-form__header {
  position: relative !important;
  z-index: 2 !important;
}
div.ottbp-form__footer {
  background: #ffffff !important;
  position: relative !important;
  z-index: 1 !important;
}
div.ottbp-footer {
  position: relative !important;
  -webkit-transition: height 0.2s ease !important;
  -moz-transition: height 0.2s ease !important;
  -ms-transition: height 0.2s ease !important;
  -o-transition: height 0.2s ease !important;
  transition: height 0.2s ease !important;
}
.ottbp-more-medium div.ottbp-footer:before,
.ottbp-more-medium div.ottbp-footer:after {
  content: " " !important;
  display: table !important;
}
.ottbp-more-medium div.ottbp-footer:after {
  clear: both !important;
}
div.ottbp-footer__loader {
  text-align: center !important;
  padding: 30px 0 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: hidden !important;
  z-index: 5 !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
div.ottbp-footer__date {
  position: relative !important;
  z-index: 10 !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
div.ottbp-footer__results {
  position: relative !important;
  z-index: 2 !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.ottbp-more-medium div.ottbp-footer__loader {
  z-index: 10 !important;
}
.ottbp-more-medium div.ottbp-footer__date {
  min-height: 1px !important;
  width: 400px !important;
  float: left !important;
  z-index: 5 !important;
}
.ottbp-more-medium div.ottbp-footer__results {
  min-height: 1px !important;
  width: auto !important;
  float: left !important;
  z-index: 5 !important;
}
div.ottbp-container-picker {
  background: #878D96 !important;
  padding: 0 20px 20px !important;
}
.ottbp-more-medium div.ottbp-container-picker {
  background-color: transparent !important;
  padding: 0 !important;
}
div.ottbp-container-picker__wrap {
  position: relative !important;
}
.ottbp-more-medium div.ottbp-container-picker__btn {
  display: none !important;
}
div.ottbp-container-picker__picker {
  top: 32px !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 2 !important;
  position: absolute !important;
  display: none !important;
  padding: 10px 5px !important;
  background-color: white !important;
  box-sizing: border-box !important;
  border: 1px solid #E0E0E0 !important;
  border-top: 0 !important;
}
div.ottbp-container-picker__picker:after {
  content: '' !important;
  position: absolute !important;
  z-index: -1 !important;
  bottom: -3px !important;
  width: 94% !important;
  left: 50% !important;
  margin-left: -47% !important;
  height: 30px !important;
  box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 0.2) !important;
  -webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -o-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
}
.ottbp-more-extrasmall div.ottbp-container-picker__picker {
  padding: 20px !important;
}
.ottbp-more-medium div.ottbp-container-picker__picker {
  padding: 0 !important;
  background-color: transparent !important;
  top: 0 !important;
  position: relative !important;
  display: block !important;
  border: 0 !important;
}
.ottbp-more-medium div.ottbp-container-picker__picker:after {
  display: none !important;
}
button.ottbp-container-picker-btn {
  border-radius: 0 !important;
  background: #FFFFFF !important;
  border: 0 !important;
  outline: 0 !important;
  display: inline-block !important;
  width: 100% !important;
  padding: 9px 0 8px !important;
  margin: 0 !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  color: #616161 !important;
  text-align: center !important;
  box-shadow: none !important;
  overflow: hidden !important;
  font-size: 13px !important;
  line-height: 15px !important;
  vertical-align: middle !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease, width 0.2s ease, border-radius 0.1s ease !important;
  -moz-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease, width 0.2s ease, border-radius 0.1s ease !important;
  -ms-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease, width 0.2s ease, border-radius 0.1s ease !important;
  -o-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease, width 0.2s ease, border-radius 0.1s ease !important;
  transition: background 0.2s ease,  color 0.2s ease,  opacity 0.2s ease,  width 0.2s ease,  border-radius 0.1s ease !important;
}
button.ottbp-container-picker-btn:hover {
  background: #F5F5F5 !important;
  box-shadow: inset 0 0 0 1px #E0E0E0 !important;
}
button.ottbp-container-picker-btn.ottbp-container-picker-btn--clean {
  background: white !important;
  color: rgba(255, 166, 96, 0.9) !important;
  font-size: 12px !important;
}
button.ottbp-container-picker-btn.ottbp-container-picker-btn--clean:hover {
  background: #ffffff !important;
  box-shadow: inset 0 0 0 1px rgba(255, 166, 96, 0.5) !important;
}
button.ottbp-container-picker-btn:first-child {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  width: 90% !important;
}
button.ottbp-container-picker-btn:last-child {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  width: 10% !important;
}
button.ottbp-container-picker-btn:focus {
  box-shadow: 0 0 5px #eee !important;
}
div.ottbp-container-results {
  padding: 10px !important;
  overflow: hidden !important;
  -webkit-transition: height 0.2s ease !important;
  -moz-transition: height 0.2s ease !important;
  -ms-transition: height 0.2s ease !important;
  -o-transition: height 0.2s ease !important;
  transition: height 0.2s ease !important;
}
.ottbp-more-extrasmall div.ottbp-container-results {
  padding: 20px !important;
}
div.ottbp-form-header {
  background: rgba(62, 71, 87, 0.6) !important;
  border-radius: 4px 4px 0 0 !important;
  padding: 20px 20px 4px !important;
}
.ottbp-more-medium div.ottbp-form-header {
  padding: 20px !important;
}
div.ottbp-form-header__inputs {
  margin-bottom: 12px !important;
}
div.ottbp-form-header__selects {
  margin: -6px -6px !important;
}
div.ottbp-control {
  position: relative !important;
  background: white !important;
  height: 48px !important;
}
div.ottbp-control.ottbp-control--error {
  box-shadow: inset 0 0 0px 2px #ff5937 !important;
}
div.ottbp-control__placeholder {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 0 !important;
}
div.ottbp-control__input {
  position: relative !important;
  z-index: 1 !important;
}
div.ottbp-control__helper {
  position: absolute !important;
  top: 48px !important;
  z-index: 100 !important;
  width: 100% !important;
  display: none !important;
}
div.ottbp-control__helper:after {
  content: '' !important;
  position: absolute !important;
  z-index: -1 !important;
  bottom: -3px !important;
  width: 94% !important;
  left: 50% !important;
  margin-left: -47% !important;
  height: 30px !important;
  box-shadow: 0 16px 30px -5px rgba(0, 0, 0, 0.2) !important;
  -webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  -o-transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
  transform: perspective(800px) rotateY(0deg) rotateX(45deg) !important;
}
div.ottbp-control__helper__shadow {
  position: absolute !important;
  z-index: 1 !important;
  height: 0 !important;
  opacity: 0 !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  /* Rectangle 4: */
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #9E9E9E 100%) !important;
}
div.ottbp-control:hover {
  background: #EEEEEE !important;
  cursor: pointer !important;
}
div.ottbp-control.ottbp-blur {
  background: white !important !important;
}
.ottbp-control.ottbp-helper .ottbp-control__helper {
  display: block !important;
}
div.ottbp-placeholder {
  margin: 0 !important;
  padding: 15px 11px 14px !important;
}
.ottbp-placeholder span {
  letter-spacing: inherit !important;
  font-size: inherit !important;
}
span.ottbp-placeholder__hidden {
  color: transparent !important;
}
span.ottbp-placeholder__visible {
  color: #9E9E9E !important;
  opacity: .7 !important;
}
.ottbp-control--error span.ottbp-placeholder__visible {
  color: #ff836a !important;
}
input[type=text].ottbp-input__field {
  margin: 0 !important;
  padding: 15px 11px 14px !important;
  background: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  color: #424242 !important;
  display: block !important;
  width: 100% !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
}
input[type=text].ottbp-input__field:focus {
  box-shadow: inset 0 0 0 1px #D4D2D2 !important;
}
.ottbp-control--error input[type=text].ottbp-input__field {
  color: #9d1b00 !important;
}
.ottbp-control--error input[type=text].ottbp-input__field:focus {
  box-shadow: inset 0 0 0 1px #ff5937 !important;
}
div.ottbp-input-helper {
  max-height: 303px !important;
  overflow-y: auto !important;
  position: relative !important;
}
ul.ottbp-input-helper__list {
  background: white !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
ul.ottbp-input-helper__list li.ottbp-input-helper__list__item {
  display: block !important;
  border: 1px solid #EEEEEE !important;
  border-top: 0 !important;
  margin-top: 0 !important;
  padding: 0 !important;
}
a.ottbp-input-helper-link {
  display: block !important;
  position: relative !important;
  padding: 17px 11px 16px !important;
  text-decoration: none !important;
}
a.ottbp-input-helper-link span {
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 0.17px !important;
  vertical-align: middle !important;
}
a.ottbp-input-helper-link span svg {
  display: block !important;
}
a.ottbp-input-helper-link span.ottbp-helper-icon {
  display: inline-block !important;
  height: 12px !important;
  vertical-align: middle !important;
  margin-right: 5px !important;
}
a.ottbp-input-helper-link span.ottbp-helper-strong {
  color: #424242 !important;
}
a.ottbp-input-helper-link span.ottbp-helper-gray {
  color: #9E9E9E !important;
}
a.ottbp-input-helper-link span.ottbp-helper-iata {
  display: block !important;
  position: absolute !important;
  color: #9E9E9E !important;
  right: 0 !important;
  top: 0 !important;
  padding: 17px 11px 16px !important;
}
a.ottbp-input-helper-link:hover {
  background: #e5e5e5 !important;
}
a.ottbp-input-helper-link.ottbp-highlight {
  background: #e5e5e5 !important;
}
button.ottbp-search__btn {
  height: 40px !important;
  width: 100% !important;
  border: none !important;
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  color: #616161 !important;
  background: #FFD41E !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 !important;
  text-align: center !important;
  border-radius: 0 0 0 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
button.ottbp-search__btn span {
  display: inline-block !important;
  vertical-align: middle !important;
}
button.ottbp-search__btn span + span {
  margin-left: 10px !important;
}
button.ottbp-search__btn:hover {
  box-shadow: none !important;
  background: #FFC901 !important;
}
button.ottbp-search__btn:focus {
  box-shadow: 0 0 5px #eee !important;
}
.ottbp-more-extrasmall button.ottbp-search__btn {
  height: 48px !important;
  border-radius: 0 3px 3px 0 !important;
}
.ottbp-more-extrasmall button.ottbp-search__btn > span.ottbp-search__btn__text {
  display: none !important;
}
div.ottbp-select {
  position: relative !important;
}
button.ottbp-select__btn {
  border-radius: 2px !important;
  background: #FFFFFF !important;
  border: 0 !important;
  outline: 0 !important;
  display: block !important;
  width: 100% !important;
  padding: 9px 0 8px !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  color: #616161 !important;
  text-align: center !important;
  box-shadow: none !important;
  overflow: hidden !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease !important;
  -moz-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease !important;
  -ms-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease !important;
  -o-transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease !important;
  transition: background 0.2s ease,  color 0.2s ease,  opacity 0.2s ease !important;
}
button.ottbp-select__btn:hover {
  /* Rectangle 137 Copy 266: */
  background: #F5F5F5 !important;
  box-shadow: inset 0 0 0 1px #E0E0E0 !important;
  border-radius: 2px !important;
}
button.ottbp-select__btn:focus {
  box-shadow: 0 0 5px #eee !important;
}
span.ottbp-select__btn__inner {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  white-space: nowrap !important;
}
.ottbp-select.ottbp-selected button.ottbp-select__btn {
  background: #FFD41E !important;
}
.ottbp-select.ottbp-selected button.ottbp-select__btn:hover {
  box-shadow: none !important;
  background: #FFC901 !important;
}
.ottbp-select.ottbp-disabled button.ottbp-select__btn {
  cursor: not-allowed !important;
  background: rgba(100, 100, 100, 0.6) !important;
  color: rgba(50, 50, 50, 0.3) !important;
  box-shadow: none !important;
  opacity: .3 !important;
}
div.ottbp-select__helper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 3 !important;
}
ul.ottbp-select-helper {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #E0E0E0 !important;
  background: #FFFFFF !important;
  border-radius: 2px !important;
  display: none !important;
  position: relative !important;
}
.ottbp--open ul.ottbp-select-helper {
  display: block !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item {
  display: block !important;
  border-top: 1px solid #E0E0E0 !important;
  padding: 0 !important;
  margin-top: 0 !important;
  white-space: nowrap !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item:before,
ul.ottbp-select-helper li.ottbp-select-helper__item:after {
  display: none !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item:first-child {
  border-top: 0 !important;
  margin-top: -1px !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item button.ottbp-select__btn {
  border-radius: 0 !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item button.ottbp-select__btn:hover {
  border: none !important;
  box-shadow: none !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item.ottbp-selected {
  border-radius: 2px 2px 0 0 !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  background: #FFD41E !important;
}
ul.ottbp-select-helper li.ottbp-select-helper__item.ottbp-selected a.ottbp-select-helper-item:hover {
  box-shadow: none !important;
  background: #FFC901 !important;
}
.ottbp-selected ul.ottbp-select-helper li.ottbp-select-helper__item:nth-child(2) {
  border-top: 0 !important;
}
a.ottbp-select-helper-item {
  overflow: hidden !important;
  border: 0 !important;
  outline: 0 !important;
  display: block !important;
  width: 100% !important;
  padding: 9px 0 8px !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  color: #616161 !important;
  text-align: center !important;
}
a.ottbp-select-helper-item span.ottbp-select-helper__inner {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  white-space: nowrap !important;
}
a.ottbp-select-helper-item:hover {
  /* Rectangle 137 Copy 266: */
  background: #e5e5e5 !important;
  border-radius: 2px !important;
}
div.ottbp-date {
  background: #FFFFFF !important;
  position: relative !important;
}
header.ottbp-date__header {
  display: none !important;
}
.ottbp-more-medium header.ottbp-date__header {
  display: block !important;
}
div.ottbp-date__title {
  color: #424242 !important;
  padding: 25px 20px 24px !important;
  text-align: center !important;
}
span.ottbp-date__title__inner span,
span.ottbp-date__title__inner button {
  vertical-align: middle !important;
}
.ottbp-date__title .ottbp-btn.ottbp-btn-delete {
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  border: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #ffa660 !important;
  font-size: 16px !important;
  padding: 0 !important;
  margin: 0 10px !important;
  vertical-align: middle !important;
}
div.ottbp-date__body {
  padding: 0 20px !important;
}
div.ottbp-date__body__inner {
  max-width: 356px !important;
  margin: 0 auto !important;
}
div.ottbp-date__loader {
  position: absolute !important;
  top: 30px !important;
  left: 0 !important;
  width: 100% !important;
  text-align: center !important;
}
div.ottbp-months {
  margin: 0 -6px !important;
}
div.ottbp-months:before,
div.ottbp-months:after {
  content: " " !important;
  display: table !important;
}
div.ottbp-months:after {
  clear: both !important;
}
div.ottbp-months__item {
  float: left !important;
  width: 50% !important;
  box-sizing: border-box !important;
  padding: 6px !important;
}
button.ottbp-month {
  border-radius: 100px !important;
  border: 0 !important;
  margin: 0 !important;
  outline: none !important;
  color: #424242 !important;
  padding: 15px 0 14px !important;
  text-align: center !important;
  display: block !important;
  width: 100% !important;
  cursor: pointer !important;
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.8) !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
button.ottbp-month:hover {
  background: rgba(242, 242, 242, 0.8) !important;
}
span.ottbp-month__inner {
  cursor: pointer !important;
  color: inherit !important;
}
.ottbp-month.ottbp--custom_price {
  box-shadow: none !important;
}
.ottbp-month--low,
.ottbp-month.ottbp--low_price {
  background: #B8E9C0 !important;
  box-shadow: none !important;
}
.ottbp-month--low:hover,
.ottbp-month.ottbp--low_price:hover {
  background: #a5e3af !important;
}
.ottbp-month--middle,
.ottbp-month.ottbp--middle_price {
  background: #EFF9E8 !important;
  box-shadow: none !important;
}
.ottbp-month--middle:hover,
.ottbp-month.ottbp--middle_price:hover {
  background: #e1f4d4 !important;
}
.ottbp-month--high,
.ottbp-month.ottbp--high_price {
  background: #FFD3BC !important;
  box-shadow: none !important;
}
.ottbp-month--high:hover,
.ottbp-month.ottbp--high_price:hover {
  background: #ffc2a3 !important;
}
div.ottbp-months-price_range {
  padding: 20px /*- 6px*/ 0 !important;
  text-align: center !important;
}
.ottbp-more-extrasmall div.ottbp-months-price_range {
  text-align: left !important;
}
div.ottbp-prices {
  font-size: 0 !important;
}
div.ottbp-prices__item {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-right: 17px !important;
}
div.ottbp-price {
  font-size: 0 !important;
}
div.ottbp-price__color,
div.ottbp-price__cost {
  vertical-align: middle !important;
  display: inline-block !important;
}
div.ottbp-price__color {
  margin-right: 7px !important;
}
div.ottbp-price__color__circle {
  width: 15px !important;
  height: 15px !important;
  display: block !important;
  border-radius: 50% !important;
}
.ottbp-more-extrasmall div.ottbp-price__color__circle {
  width: 20px !important;
  height: 20px !important;
}
div.ottbp-price__cost {
  color: #424242 !important;
  font-size: 10px !important;
  letter-spacing: 0.2px !important;
  line-height: 13px !important;
  text-decoration: none !important;
}
.ottbp-more-extrasmall div.ottbp-price__cost {
  font-size: 13px !important;
  line-height: 15px !important;
}
.ottbp-calendar td {
  vertical-align: middle !important;
}
table.ottbp-calendar {
  margin: auto !important;
  font-size: 0 !important;
  border-collapse: collapse !important;
}
.ottbp-calendar tr.ottbp-cal-month {
  cursor: pointer !important;
  color: #9E9E9E !important;
}
.ottbp-calendar td.ottbp-cal-month__name {
  color: inherit !important;
  padding: 2px 0 !important;
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 0.17px !important;
  cursor: pointer !important;
}
.ottbp-more-small .ottbp-calendar td.ottbp-cal-month__name {
  padding: 10px 8px !important;
}
.ottbp-calendar td.ottbp-cal-month__name a {
  float: right !important;
  text-decoration: none !important;
  color: rgba(158, 158, 158, 0.5) !important;
}
.ottbp-calendar td.ottbp-cal-month__name a:hover {
  color: black !important;
}
.ottbp-calendar td.ottbp-cal-month__select {
  text-align: center !important;
  color: inherit !important;
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 14px !important;
  letter-spacing: 0.17px !important;
  cursor: pointer !important;
  padding: 2px 0 !important;
}
.ottbp-more-small .ottbp-calendar td.ottbp-cal-month__select {
  padding: 10px 8px !important;
}
.ottbp-calendar td.ottbp-cal-month__select a {
  color: inherit !important;
}
.ottbp-calendar td.ottbp-cal-month__select a:hover {
  color: black !important;
}
.ottbp-calendar tr.ottbp-cal-month:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}
.ottbp-calendar tr.ottbp-cal-days {
  color: #9E9E9E !important;
}
.ottbp-calendar tr.ottbp-cal-days td.ottbp-cal-weekend {
  color: #FF974D !important;
}
.ottbp-calendar td.ottbp-cal-day {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
}
.ottbp-extrasmall .ottbp-calendar td.ottbp-cal-day {
  width: 38px !important;
  height: 38px !important;
}
.ottbp-more-small .ottbp-calendar td.ottbp-cal-day {
  width: 48px !important;
  height: 48px !important;
}
.ottbp-calendar thead td.ottbp-cal-day {
  height: 40px !important;
}
div.ottbp-calendar-price_range {
  padding: 10px /* - 6px*/ 5px !important;
  text-align: center !important;
}
.ottbp-extrasmall div.ottbp-calendar-price_range {
  text-align: left !important;
  padding: 15px /* - 6px*/ 7px !important;
}
.ottbp-more-small div.ottbp-calendar-price_range {
  padding: 20px /* - 6px*/ 10px !important;
}
div.ottbp-btn-day {
  display: block !important;
  width: 30px !important;
  height: 30px !important;
  position: relative !important;
  text-align: center !important;
  border: 0 !important;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  color: black !important;
  text-decoration: none !important;
  z-index: 100 !important;
}
div.ottbp-btn-day * {
  cursor: pointer !important;
}
.ottbp-extrasmall div.ottbp-btn-day {
  width: 38px !important;
  height: 38px !important;
}
.ottbp-more-small div.ottbp-btn-day {
  width: 48px !important;
  height: 48px !important;
}
div.ottbp-btn-day__hover {
  position: absolute !important;
  z-index: 0 !important;
  top: 1px !important;
  left: 1px !important;
  background: transparent !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
}
.ottbp-extrasmall div.ottbp-btn-day__hover {
  width: 36px !important;
  height: 36px !important;
}
.ottbp-more-small div.ottbp-btn-day__hover {
  width: 44px !important;
  height: 44px !important;
}
div.ottbp-btn-day__back {
  position: absolute !important;
  top: 1px !important;
  left: 1px !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
  z-index: 1 !important;
}
.ottbp-extrasmall div.ottbp-btn-day__back {
  top: 1px !important;
  left: 1px !important;
  width: 36px !important;
  height: 36px !important;
}
.ottbp-more-small div.ottbp-btn-day__back {
  top: 2px !important;
  left: 2px !important;
  width: 44px !important;
  height: 44px !important;
}
div.ottbp-btn-day__price {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  z-index: 2 !important;
  vertical-align: middle !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  margin: auto !important;
}
div.ottbp-btn-day__price.ottbp--none_price {
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.8) !important;
}
.ottbp-extrasmall div.ottbp-btn-day__price {
  width: 32px !important;
  height: 32px !important;
}
.ottbp-more-small div.ottbp-btn-day__price {
  width: 36px !important;
  height: 36px !important;
}
div.ottbp-btn-day__inner {
  z-index: 110 !important;
  position: absolute !important;
  height: 15px !important;
  width: 20px !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  text-align: center !important;
  right: 0 !important;
  margin: auto !important;
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 13px !important;
  letter-spacing: 0.2px !important;
  line-height: 15px !important;
}
.ottbp-extrasmall div.ottbp-btn-day__inner {
  font-size: 14px !important;
  line-height: 15px !important;
  height: 15px !important;
  width: 20px !important;
}
.ottbp-more-small div.ottbp-btn-day__inner {
  font-size: 16px !important;
  line-height: 19px !important;
  height: 19px !important;
  width: 20px !important;
}
.ottbp-btn-day.ottbp-btn-day--disabled div.ottbp-btn-day__inner {
  color: #D4D2D2 !important;
}
.ottbp-btn-day.ottbp-btn-day--disabled div.ottbp-btn-day__price {
  display: none !important;
}
div.ottbp-btn-day:not(.ottbp-btn-day--disabled):hover div.ottbp-btn-day__price {
  width: 28px !important;
  height: 28px !important;
}
.ottbp-extrasmall div.ottbp-btn-day:not(.ottbp-btn-day--disabled):hover div.ottbp-btn-day__price {
  width: 36px !important;
  height: 36px !important;
}
.ottbp-more-small div.ottbp-btn-day:not(.ottbp-btn-day--disabled):hover div.ottbp-btn-day__price {
  width: 44px !important;
  height: 44px !important;
}
/*&:not(.ottbp-btn-day--disabled):hover*/
.ottbp-btn-day.ottbp-btn-day--selected div.ottbp-btn-day__back {
  background: #FFE470 !important;
}
.ottbp-btn-day.ottbp-btn-day--selected div.ottbp-btn-day__price {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}
.ottbp-btn-day.ottbp-btn-day--hover div.ottbp-btn-day__hover {
  background: rgba(128, 128, 128, 0.2) !important;
  border: 1px solid rgba(255, 238, 163, 0.25) !important;
}
.ottbp-btn-day.ottbp-btn-day--hover--after div.ottbp-btn-day__hover,
.ottbp-btn-day.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 29px !important;
}
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--hover--after div.ottbp-btn-day__hover,
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 37px !important;
}
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--hover--after div.ottbp-btn-day__hover,
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 46px !important;
}
.ottbp-btn-day.ottbp-btn-day--hover--after.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 30px !important;
}
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--hover--after.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 38px !important;
}
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--hover--after.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  width: 48px !important;
}
.ottbp-btn-day.ottbp-btn-day--hover--after div.ottbp-btn-day__hover {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}
.ottbp-btn-day.ottbp-btn-day--hover--before div.ottbp-btn-day__hover {
  left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0 !important;
}
.ottbp-btn-day.ottbp-btn-day--selected--after div.ottbp-btn-day__back,
.ottbp-btn-day.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 29px !important;
}
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--selected--after div.ottbp-btn-day__back,
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 37px !important;
}
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--selected--after div.ottbp-btn-day__back,
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 46px !important;
}
.ottbp-btn-day.ottbp-btn-day--selected--after.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 30px !important;
  -webkit-transition: background 0.2s ease, border-radius 0.1s ease !important;
  -moz-transition: background 0.2s ease, border-radius 0.1s ease !important;
  -ms-transition: background 0.2s ease, border-radius 0.1s ease !important;
  -o-transition: background 0.2s ease, border-radius 0.1s ease !important;
  transition: background 0.2s ease,  border-radius 0.1s ease !important;
}
.ottbp-extrasmall .ottbp-btn-day.ottbp-btn-day--selected--after.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 38px !important;
}
.ottbp-more-small .ottbp-btn-day.ottbp-btn-day--selected--after.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  width: 48px !important;
}
.ottbp-btn-day.ottbp-btn-day--selected--after.ottbp-btn-day--selected--before div.ottbp-btn-day__price {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}
.ottbp-btn-day.ottbp-btn-day--selected--after div.ottbp-btn-day__back {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.ottbp-btn-day.ottbp-btn-day--selected--before div.ottbp-btn-day__back {
  left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
/*
.keyframes(day_show, { 0% {
  opacity: 0;
  .scale(.2);
} 100% {
    opacity: 1;
    .scale(1);
  } });

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index < 7) and (@index > 0) {
  @tmp: @index+1;
  &:nth-child(@{tmp}) {
    .animation-delay(@beforeDelay + (@weekDelay / 7 * @index));
  }
  .nthChildDay(@beforeDelay, @weekDelay, @tmp);
}

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index = 0) {
  .animation-delay(@beforeDelay);
  .nthChildDay(@beforeDelay, @weekDelay, @index + 1);
}

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index > 7) {
  //
}

.nthChildWeek(@index, @weekDelay) when (@index<7){
  @tmp: @index+2;
  &:nth-child(@{tmp}) {
    .ottbp-cal-day {
      .nthChildDay(@weekDelay * @index, @weekDelay, 0);
    }
  }
  .nthChildWeek(@index + 1, @weekDelay)
}

.nthChildWeek(@index, @weekDelay) when (@index >= 7) {
}

.ottbp-cal-week {
  @weekDelay: .2s;
  
  .ottbp-cal-day {
    .animation-name(day_show);
    .animation-duration(.5s);
    .animation-fill-mode(both);
    
    //.nthChildDay(0, @weekDelay, 0);
  }
  
  .nthChildWeek(0, @weekDelay);
}
*/
div.ottbp-trip {
  background: #FFFFFF !important;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.1) !important;
}
div.ottbp-trip__header {
  padding: 9px 31px 8px !important;
  background: rgba(62, 71, 87, 0.6) !important;
}
div.ottbp-trip__header span.ottbp-black {
  color: white !important;
}
div.ottbp-trip__header span.ottbp-gray {
  color: #D4D2D2 !important;
}
.ottbp-trip__title {
  /* Санкт-Петербург, на: */
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #424242 !important;
  letter-spacing: 0.2px !important;
  line-height: 19px !important;
}
inner.ottbp-trip__title__inner {
  font-size: inherit !important;
  font-weight: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
}
div.ottbp-trip__body {
  padding: 12px 5px !important;
}
div.ottbp-trip__directions {
  position: relative !important;
}
div.ottbp-trip__directions:before,
div.ottbp-trip__directions:after {
  content: " " !important;
  display: table !important;
}
div.ottbp-trip__directions:after {
  clear: both !important;
}
div.ottbp-trip__directions__item {
  float: left !important;
  width: 50% !important;
  box-sizing: border-box !important;
}
div.ottbp-trip__directions__item:nth-child(2) {
  border-left: 1px solid #EEEEEE !important;
}
.ottbp-extrasmall div.ottbp-trip__directions__item {
  width: 48% !important;
}
.ottbp-more-small div.ottbp-trip__directions__item {
  width: 45% !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one {
  padding-top: 15px !important;
  padding-bottom: 10px !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-trip__directions__item {
  width: 100% !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction {
  position: relative !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction:before,
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction:after {
  content: " " !important;
  display: table !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction:after {
  clear: both !important;
}
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction__main,
div.ottbp-trip__directions.ottbp-trip__directions--only_one div.ottbp-direction__add {
  width: 50% !important;
  float: left !important;
}
div.ottbp-trip__footer {
  text-align: right !important;
  padding: 0 24px 8px !important;
}
div.ottbp-trip__price,
div.ottbp-trip__btn {
  display: inline-block !important;
  vertical-align: middle !important;
}
div.ottbp-trip__price {
  /* 68 486 ₽: */
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #4FBB04 !important;
  letter-spacing: 0px !important;
}
div.ottbp-trip__btn {
  margin-left: 10px !important;
}
a.ottbp-btn-link {
  display: block !important;
  /* BG: */
  background: #01ABFB !important;
  border-radius: 2px !important;
  /* 12:2:12:2: */
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #FFFFFF !important;
  letter-spacing: 0.2px !important;
  padding: 7px 11px !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.ottbp-btn-link svg,
span.ottbp-btn-link__icon,
span.ottbp-btn-link__inner {
  display: inline-block !important;
  vertical-align: middle !important;
}
.ottbp-btn-link svg,
span.ottbp-btn-link__icon {
  margin-left: 10px !important;
}
a.ottbp-btn-link:hover {
  background: #0188c8 !important;
}
div.ottbp-direction {
  padding: 0 10px !important;
}
.ottbp-extrasmall div.ottbp-direction {
  padding: 0 10px !important;
}
.ottbp-more-small div.ottbp-direction {
  padding: 0 26px !important;
}
table.ottbp-direction__title {
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #616161 !important;
  letter-spacing: 0.18px !important;
  margin-bottom: 7px !important;
  width: 100% !important;
}
.ottbp-direction__title span {
  display: inline-block !important;
  vertical-align: middle !important;
}
.ottbp-direction__title td {
  vertical-align: middle !important;
}
.ottbp-direction__title td:first-child {
  width: 25px !important;
}
span.ottbp-direction__title__icon {
  margin-right: 10px !important;
}
.ottbp-direction__title svg {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-right: 7px !important;
}
span.ottbp-direction__title__inner {
  color: inherit !important;
}
div.ottbp-direction__time {
  /* 23:55 — 08:30: */
  font-family: Roboto, Roboto-Medium, sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #212121 !important;
  letter-spacing: 0px !important;
  margin-bottom: 8px !important;
}
div.ottbp-direction__timespent {
  /* 16 ч 40 мин, 1 перес: */
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  color: #616161 !important;
  letter-spacing: 0.18px !important;
  margin-bottom: 9px !important;
}
div.ottbp-direction__company {
  /* 16 ч 40 мин, 1 перес: */
  /* Emirates: */
  font-family: Roboto, Roboto-Regular, sans-serif !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  color: #9E9E9E !important;
  letter-spacing: 0.18px !important;
}
img.ottbp-direction__company__logo {
  width: 16px !important;
  height: 16px !important;
  margin-right: 10px !important;
  vertical-align: middle !important;
}
span.ottbp-direction__company__inner {
  vertical-align: middle !important;
}
div.ottbp-trip-text {
  padding: 10px !important;
  -webkit-animation-name: display_up !important;
  -moz-animation-name: display_up !important;
  -o-animation-name: display_up !important;
  animation-name: display_up !important;
  -webkit-animation-duration: 0.3s !important;
  -moz-animation-duration: 0.3s !important;
  -o-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -o-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1) !important;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -moz-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
div.ottbp-loader {
  width: 102.4px !important;
  height: 102.4px !important;
  display: inline-block !important;
  position: relative !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.ottbp-loader div.ottbp-loader__back {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  background: rgba(101, 101, 172, 0.15) !important;
  z-index: 1 !important;
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -moz-transition: opacity 0.3s ease 0s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -ms-transition: opacity 0.3s ease 0s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -o-transition: opacity 0.3s ease 0s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  transition: opacity 0.3s ease 0s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}
.ottbp-loader.ottbp-loader--hide div.ottbp-loader__back {
  -webkit-transition: opacity 0.2s ease 0.3s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.2s ease 0.3s, -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.2s ease 0.3s, -ms-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.2s ease 0.3s, -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.2s ease 0.3s,  -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
}
.ottbp-loader div.ottbp-loader__back__over {
  width: 50% !important;
  height: 50% !important;
  top: 0 !important;
  left: 50% !important;
  background: #FFC901 !important;
  position: absolute !important;
  -webkit-transform-origin: left bottom !important;
  -moz-transform-origin: left bottom !important;
  -ms-transform-origin: left bottom !important;
  -o-transform-origin: left bottom !important;
  transform-origin: left bottom !important;
  -webkit-animation-name: loader_spin !important;
  -moz-animation-name: loader_spin !important;
  -o-animation-name: loader_spin !important;
  animation-name: loader_spin !important;
  -webkit-animation-duration: 0.9s !important;
  -moz-animation-duration: 0.9s !important;
  -o-animation-duration: 0.9s !important;
  animation-duration: 0.9s !important;
  -webkit-animation-timing-function: linear !important;
  -moz-animation-timing-function: linear !important;
  -o-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -o-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
  -webkit-animation-iteration-count: infinite !important;
  -moz-animation-iteration-count: infinite !important;
  -o-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}
.ottbp-loader .ottbp-loader--hide div.ottbp-loader__back__over {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
.ottbp-loader div.ottbp-loader__front {
  -webkit-transition: opacity 0.1s ease 0s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.1s ease 0s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.1s ease 0s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.1s ease 0s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.1s ease 0s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.ottbp-loader.ottbp-loader--hide div.ottbp-loader__front {
  -webkit-transition: opacity 0.3s ease 0.2s, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -moz-transition: opacity 0.3s ease 0.2s, -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -ms-transition: opacity 0.3s ease 0.2s, -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -o-transition: opacity 0.3s ease 0.2s, -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  transition: opacity 0.3s ease 0.2s,  -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
}
.ottbp-loader div.ottbp-loader__front {
  position: absolute !important;
  z-index: 1 !important;
  width: 76px !important;
  height: 76px !important;
  border-radius: 50% !important;
  margin: 13.2px !important;
  background: #FFC901 !important;
  background: -moz-linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  background: -webkit-linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  background: linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c200', endColorstr='#ffd94e', GradientType=1) !important;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) !important;
}
.ottbp-loader div.ottbp-loader__front__icon {
  width: 31.2px !important;
  height: 31.2px !important;
  display: block !important;
  position: absolute !important;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  opacity: 1 !important;
  -webkit-transition: opacity 0.1s ease 0.1s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.1s ease 0.1s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.1s ease 0.1s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.1s ease 0.1s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.1s ease 0.1s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.ottbp-loader.ottbp-loader--hide div.ottbp-loader__front__icon {
  opacity: 0 !important;
  -webkit-transition: opacity 0.1s ease 0, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -moz-transition: opacity 0.1s ease 0, -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -ms-transition: opacity 0.1s ease 0, -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -o-transition: opacity 0.1s ease 0, -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  transition: opacity 0.1s ease 0,  -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
}
div.ottbp-loader.ottbp-loader--small {
  width: 51.2px !important;
  height: 51.2px !important;
  display: inline-block !important;
  position: relative !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.ottbp-loader.ottbp-loader--small div.ottbp-loader__back {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  background: rgba(101, 101, 172, 0.15) !important;
  z-index: 1 !important;
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -moz-transition: opacity 0.3s ease 0s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -ms-transition: opacity 0.3s ease 0s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  -o-transition: opacity 0.3s ease 0s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  transition: opacity 0.3s ease 0s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s !important;
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  transform: scale(1) !important;
}
.ottbp-loader.ottbp-loader--small.ottbp-loader--hide div.ottbp-loader__back {
  -webkit-transition: opacity 0.2s ease 0.3s, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.2s ease 0.3s, -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.2s ease 0.3s, -ms-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.2s ease 0.3s, -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.2s ease 0.3s,  -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
}
.ottbp-loader.ottbp-loader--small div.ottbp-loader__back__over {
  width: 50% !important;
  height: 50% !important;
  top: 0 !important;
  left: 50% !important;
  background: #FFC901 !important;
  position: absolute !important;
  -webkit-transform-origin: left bottom !important;
  -moz-transform-origin: left bottom !important;
  -ms-transform-origin: left bottom !important;
  -o-transform-origin: left bottom !important;
  transform-origin: left bottom !important;
  -webkit-animation-name: loader_spin !important;
  -moz-animation-name: loader_spin !important;
  -o-animation-name: loader_spin !important;
  animation-name: loader_spin !important;
  -webkit-animation-duration: 0.9s !important;
  -moz-animation-duration: 0.9s !important;
  -o-animation-duration: 0.9s !important;
  animation-duration: 0.9s !important;
  -webkit-animation-timing-function: linear !important;
  -moz-animation-timing-function: linear !important;
  -o-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -o-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
  -webkit-animation-iteration-count: infinite !important;
  -moz-animation-iteration-count: infinite !important;
  -o-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}
.ottbp-loader.ottbp-loader--small .ottbp-loader--hide div.ottbp-loader__back__over {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
.ottbp-loader.ottbp-loader--small div.ottbp-loader__front {
  -webkit-transition: opacity 0.1s ease 0s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.1s ease 0s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.1s ease 0s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.1s ease 0s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.1s ease 0s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.ottbp-loader.ottbp-loader--small.ottbp-loader--hide div.ottbp-loader__front {
  -webkit-transition: opacity 0.3s ease 0.2s, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -moz-transition: opacity 0.3s ease 0.2s, -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -ms-transition: opacity 0.3s ease 0.2s, -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -o-transition: opacity 0.3s ease 0.2s, -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  transition: opacity 0.3s ease 0.2s,  -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transform: scale(0) !important;
}
.ottbp-loader.ottbp-loader--small div.ottbp-loader__front {
  position: absolute !important;
  z-index: 1 !important;
  width: 38px !important;
  height: 38px !important;
  border-radius: 50% !important;
  margin: 6.6px !important;
  background: #FFC901 !important;
  background: -moz-linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  background: -webkit-linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  background: linear-gradient(45deg, #f6c200 0%, #FFC901 50%, #ffd94e 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c200', endColorstr='#ffd94e', GradientType=1) !important;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) !important;
}
.ottbp-loader.ottbp-loader--small div.ottbp-loader__front__icon {
  width: 15.6px !important;
  height: 15.6px !important;
  display: block !important;
  position: absolute !important;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  opacity: 1 !important;
  -webkit-transition: opacity 0.1s ease 0.1s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -moz-transition: opacity 0.1s ease 0.1s, -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -ms-transition: opacity 0.1s ease 0.1s, -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  -o-transition: opacity 0.1s ease 0.1s, -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
  transition: opacity 0.1s ease 0.1s,  -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s,  transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
}
.ottbp-loader.ottbp-loader--small.ottbp-loader--hide div.ottbp-loader__front__icon {
  opacity: 0 !important;
  -webkit-transition: opacity 0.1s ease 0, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -moz-transition: opacity 0.1s ease 0, -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -ms-transition: opacity 0.1s ease 0, -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  -o-transition: opacity 0.1s ease 0, -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
  transition: opacity 0.1s ease 0,  -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -moz-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -ms-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  -o-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s,  transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s !important;
}
