
.ottbp-btn-link {
  a& {
    display: block;
    /* BG: */
    background: #01ABFB;
    border-radius: 2px;
    /* 12:2:12:2: */
    font-family: Roboto, Roboto-Medium, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    
    padding: 7px 11px;
    
    text-decoration: none;
    cursor: pointer;
  }
  svg, span&__icon, span&__inner {
    display: inline-block;
    vertical-align: middle;
  }
  
  svg, span&__icon {
    margin-left: 10px;
  }
  span&__inner {
    
  }
  
  a&:hover {
    background: darken(#01ABFB, 10%);
  }
}