
.ottbp-direction {
  div& {
    padding: 0 10px;
  
  
    .ottbp-extrasmall & {
      padding: 0 10px;
    }
    .ottbp-more-small & {
      padding: 0 26px;
    }
  }
  &__title {
    table& {
      font-family: Roboto, Roboto-Regular, sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #616161;
      letter-spacing: 0.18px;
      margin-bottom: 7px;
  
      width: 100%;
    }
    
    span {
      display: inline-block;
      vertical-align: middle;
    }
    
    td{
      vertical-align: middle;
      &:first-child{
        width: 18px+7px;
      }
    }
    
    span&__icon {
      margin-right: 10px;
    }
    
    svg{
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
    }
    
    span&__inner {
      color: inherit;
    }
  }
  
  &__time {
    div& {
      /* 23:55 — 08:30: */
      font-family: Roboto, Roboto-Medium, sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #212121;
      letter-spacing: 0px;
      margin-bottom: 8px;
    }
    span&__inner {
      
    }
  }
  
  &__timespent {
    div& {
      /* 16 ч 40 мин, 1 перес: */
      font-family: Roboto, Roboto-Regular, sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #616161;
      letter-spacing: 0.18px;
      margin-bottom: 9px;
    }
    span&__inner {
      
    }
  }
  
  &__company {
    div& {
      /* 16 ч 40 мин, 1 перес: *//* Emirates: */
      font-family: Roboto, Roboto-Regular, sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #9E9E9E;
      letter-spacing: 0.18px;
    }
    img&__logo {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      vertical-align: middle;
    }
    span&__inner {
      vertical-align: middle;
    }
  }
}