//span.ottbp-icon-fly {
//  width: 18px;
//  height: 16px;
//  display: inline-block;
//  vertical-align: middle;
//  //&--from {
//  //  background-image: url('./../images/fly-0.jpg');
//  //}
//  //
//  //&--to {
//  //  background-image: url('./../images/fly-1.jpg');
//  //}
//}

//span.ottbp-icon-arrow {
//  display: inline-block;
//  vertical-align: middle;
//  width: 7px;
//  height: 10px;
//  background-image: url('./../images/arrow.png');
//}