.ottbp--low_price {
  div&, button& {
    background: #B8E9C0;
  }
}

.ottbp--middle_price {
  div&, button& {
    background: #EFF9E8;
  }
}

.ottbp--high_price {
  div&, button& {
    background: #FFD3BC;
  }
}

.ottbp-btn {
  &.ottbp--low_price {
    &:hover {
      background: darken(#B8E9C0, 5%);
    }
  }
  
  &.ottbp--middle_price {
    &:hover {
      background: darken(#EFF9E8, 5%);
    }
  }
  
  &.ottbp--high_price {
    &:hover {
      background: darken(#FFD3BC, 5%);
    }
  }
}

.ottbp-black {
  div&, span& {
    color: #424242;
  }
}

.ottbp-gray {
  div&, span& {
    color: #9E9E9E;
  }
}

