
.ottbp-texts {
  &--textfield, div&--textfield, input[type=text]&--textfield, &--month, button&--month, &--title, &--day {
    /* Берлин, Германия: */
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 19px;
  }
  
  &--btn, button&--btn, a&--btn, div&--price, tr&--week-days {
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 15px;
    text-decoration: none;
  }
}