mixin ottbp_input(placeholder, value)
  - var visible = placeholder.slice(value.length)
  .ottbp-control
    .ottbp-control__placeholder
      div.ottbp-placeholder.ottbp-texts--textfield
        span.ottbp-placeholder__hidden!= value
        span.ottbp-placeholder__visible!= visible
    .ottbp-control__input
      .ottbp-input
        input(type="text", value=value, autocomplete="off", placeholder='').ottbp-input__field.ottbp-texts--textfield
    .ottbp-control__helper
      .ottbp-input-helper
        ul.ottbp-input-helper__list
          li.ottbp-input-helper__list__item
            a(href='javascript:void(0)').ottbp-input-helper-link
              span.ottbp-helper-strong Москва,&nbsp;
              span.ottbp-helper-gray Россия

              span.ottbp-helper-iata MOW
          li.ottbp-input-helper__list__item
            a(href='javascript:void(0)').ottbp-input-helper-link
              span.ottbp-helper-strong Москва,&nbsp;
              span.ottbp-helper-gray Россия

              span.ottbp-helper-iata MOW