mixin ottbp_price(price, low, middle, high)
  .ottbp-price
    .ottbp-price__color
      .ottbp-price__color__circle(class=(low ? 'ottbp--low_price ' : '') + (middle ? 'ottbp--middle_price ' : '') + (high ? 'ottbp--high_price ' : ''))
    .ottbp-price__cost.ottbp-texts--price
      span.ottbp-price__cost__inner!= price

mixin ottbp_prices()
  .ottbp-prices
    .ottbp-prices__item
      +ottbp_price('26 000 ₽', true)
    .ottbp-prices__item
      +ottbp_price('28 000 ₽', false, true)
    .ottbp-prices__item
      +ottbp_price('30 000 ₽', false, false, true)
