include ./date-months
include ./date-prices
include ./date-calendar

mixin ottbp_date()
  #datePicker
  //-.ottbp-date
    header.ottbp-date__header
      .ottbp-date__title.ottbp-texts--title
        span.ottbp-date__title__inner Выберите дату путешествия
    section.ottbp-date__body
      .ottbp-date__body__inner
        .ottbp-date__calendar#calendar
          +ottbp_calendar()
        .ottbp-date__months#month
          +ottbp_months()
        .ottbp-date__prices
          +ottbp_prices()
