mixin ottbp_month(title, low, middle, high)
  button.ottbp-month.ottbp-texts--month.ottbp-btn(class=(low ? 'ottbp--low_price ' : '') + (middle ? 'ottbp--middle_price ' : '') + (high ? 'ottbp--high_price ' : ''))
    span.ottbp-month__inner!= title

mixin ottbp_months()
  //-.ottbp-months
    .ottbp-months__item
      +ottbp_month('Апрель 2017', true)

    .ottbp-months__item
      +ottbp_month('Май', true)
    .ottbp-months__item
      +ottbp_month('Июнь', true)
    .ottbp-months__item
      +ottbp_month('Июль', true)
    .ottbp-months__item
      +ottbp_month('Август', true)
    .ottbp-months__item
      +ottbp_month('Сентябрь', false, true)
    .ottbp-months__item
      +ottbp_month('Октябрь', false, false, true)
    .ottbp-months__item
      +ottbp_month('Ноябрь', false, false, true)
    .ottbp-months__item
      +ottbp_month('Декабрь', false, false, true)
    .ottbp-months__item
      +ottbp_month('Январь 2018', false, true)
