mixin ottbp_select(value, selected)
  .ottbp-select.ottbp--open(class=(selected ? 'ottbp-selected' : ''))
    button.ottbp-select__btn.ottbp-texts--btn
      span.ottbp-select__btn__inner!= value
    .ottbp-select__helper
      ul.ottbp-select-helper
        li.ottbp-select-helper__item.ottbp-selected
          a.ottbp-select-helper-item.ottbp-texts--btn
            span.ottbp-select-helper__inner!= value
        li.ottbp-select-helper__item
          a.ottbp-select-helper-item.ottbp-texts--btn
            span.ottbp-select-helper__inner!= value
        li.ottbp-select-helper__item
          a.ottbp-select-helper-item.ottbp-texts--btn
            span.ottbp-select-helper__inner!= value
        li.ottbp-select-helper__item
          a.ottbp-select-helper-item.ottbp-texts--btn
            span.ottbp-select-helper__inner!= value
        li.ottbp-select-helper__item
          a.ottbp-select-helper-item.ottbp-texts--btn
            span.ottbp-select-helper__inner!= value

//-script.
  document.addEventListener('click', function (event) {
    var target = event.target;
    while (target && target != document.body) {
    // console.log(target);
      if (target.classList.contains('ottbp-select')) {
        target.classList.toggle('ottbp--open');
        return
      }
      target = target.parentNode;
    }
  });