@import "./../assets/mixins";

.ottbp-inputs__maxi {
  
  @widthSearch: 100px;
  @widthFrom: (374px - @widthSearch/2);
  @widthTo: (458px - @widthSearch/2);
  
  @w: @widthFrom + @widthTo + @widthSearch;
  
  & {
    position: relative;
    .clearfix();
  }
  
  div.ottbp-inputs--from {
    width: percentage(@widthFrom/@w);
  }
  
  div.ottbp-inputs--to {
    width: percentage(@widthTo/@w);
  }
  
  div.ottbp-inputs--search {
    width: percentage(@widthSearch/@w);
  }
  
  div.ottbp-inputs__field {
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #E0E0E0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    
    &:first-child {
      .ottbp-control {
        border-radius: 2px 0 0 2px;
      }
    }
    
    &:last-child {
      border-right: 0;
      .ottbp-control {
        border-radius: 0 2px 2px 0;
      }
    }
    
    &.ottbp-control--error {
      border-color: rgb(255, 89, 55);
    }
  }
  
}

.ottbp-inputs {
  
  div&__field {
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
    &:last-child {
      border-bottom: 0;
    }
    
    &.ottbp-control--error {
      border-color: red;
    }
  }
  
  .ottbp-more-extrasmall & {
    .ottbp-inputs__maxi() !important;
  }
  
  .ottbp-more-big & {
    @widthSearch: 50px;
    @widthFrom: (374px - @widthSearch/2);
    @widthTo: (458px - @widthSearch/2);
    
    @w: @widthFrom + @widthTo + @widthSearch;
    
    div.ottbp-inputs--from {
      width: percentage(@widthFrom/@w);
    }
    
    div.ottbp-inputs--to {
      width: percentage(@widthTo/@w);
    }
    
    div.ottbp-inputs--search {
      width: percentage(@widthSearch/@w);
    }
  }
  
  //@media (min-width: 488px) {
  //  .ottbp-inputs__maxi() !important;
  //}
}

