@import "./../assets/mixins";

.ottbp-results {
  div& {
    width: 100%;
    position: relative;
    //min-height: 106+30+30;
  }
  ul&__list {
    list-style: none;
    margin: 0;
    //padding: 16px 20px 0 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  li&__list__item {
    margin: 0 0 12px;
    padding: 0;
    .animation-name(display_up);
    .animation-duration(.3s);
    .animation-fill-mode(both);
    .animation-timing-function(@ease-out_back);
    
    &:nth-child(2) {
      .animation-delay(.1s);
    }
    &:nth-child(3) {
      .animation-delay(.2s);
    }
    &:nth-child(4) {
      .animation-delay(.3s);
    }
    
    div.ottbp-results__list__item--empty {
      color: #424242;
      //padding: 25px 20px 24px;
      text-align: center;
  
      display: none;
    }
  }
  
  &.ottbp-loading {
    ul.ottbp-results__list {
      position: absolute;
      width: 100%;
    }
    li.ottbp-results__list__item {
      .animation-name(hide_right);
      //.animation-duration(.3s);
      //.animation-fill-mode(both);
      //.animation-timing-function(@ease-out_back);
      //
      //&:nth-child(2) {
      //  .animation-delay(.1s);
      //}
      //&:nth-child(3) {
      //  .animation-delay(.2s);
      //}
      //&:nth-child(4) {
      //  .animation-delay(.3s);
      //}
    }
  }
  
  div&__loader {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
}

div.ottbp-results__after-loader{
  text-align: center;
  padding-right: 20px;
}
@import "./results/message";