@import "./../assets/mixins";

.ottbp-selects__maxi() {
  @gutter: 6px;
  
  @widthRoute: 220px + (2 * @gutter);
  @widthType: 136px + (2 * @gutter);
  @widthTransfer: 220px + (2 * @gutter);
  @widthDuration: 220px + (2 * @gutter);
  
  @width: @widthRoute + @widthType + @widthTransfer + @widthDuration;
  
  //div&__cell {
  //  float: left;
  //  box-sizing: border-box;
  //  padding: @gutter;
  //
  //  &__inner {
  //  }
  //}
  
  div&--route {
    width: percentage(@widthRoute / @width);
  }
  div&--type {
    width: percentage(@widthType / @width);
  }
  div&--transfer {
    width: percentage(@widthTransfer / @width);
  }
  div&--duration {
    width: percentage(@widthDuration / @width);
    
  }
  
}

.ottbp-selects {
  
  @gutter: 4px;
  
  div& {
    margin: 0 -@gutter;
    font-size: 0;
    position: relative;
    .clearfix();
  }
  
  div&__cell {
    display: inline-block;
    //float: left;
    box-sizing: border-box;
    //padding: @gutter;
    width: 50%;
    .transition(width .2s ease);
    
    &__wrap {
      padding: @gutter;
    }
    
    &__inner {
    }
  }
  
  //.maxi & {
  //  //.ottbp-inputs__big();
  //  .ottbp-selects__maxi() !important;
  //}
  //
  //@media (min-width: 488px) {
  //  //.ottbp-inputs__big();
  //  .ottbp-selects__maxi() !important;
  //}
}