@import "assets/mixins";


@import "assets/cleanslate";

.ottbp-widget {
  @font: Roboto, Roboto-Regular, sans-serif;
  .cleanslate(@font);
  
  min-width: 320px !important;
}

@import "mixins/keyframes";

#makeImportant() {
  button {
    width: auto;
    overflow: visible;
  }
  @import "./layers/index";
  @import "./blocks/index";
  @import "./components/index";
}

& {
  #makeImportant() !important;
}

