
ul.ottbp-select-helper {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #E0E0E0;
  background: #FFFFFF;
  border-radius: 2px;
  
  display: none;
  position: relative;
  
  
  .ottbp--open & {
    display: block;
  }
  
  li.ottbp-select-helper__item {
    display: block;
    border-top: 1px solid #E0E0E0;
    padding: 0;
    margin-top: 0;
    
    white-space: nowrap;
    
    &:before, &:after{
      display: none;
    }
    
    &:first-child {
      border-top: 0;
      margin-top: -1px;
      
    }
    
    button.ottbp-select__btn {
      border-radius: 0;
      &:hover {
        border: none;
        box-shadow: none;
      }
    }
    
    
    &.ottbp-selected {
      border-radius: 2px 2px 0 0;
      margin-left: -1px;
      margin-right: -1px;
      
      background: #FFD41E;
      a.ottbp-select-helper-item {
        
        &:hover {
          box-shadow: none;
          background: #FFC901;
        }
      }
      
    }
    
    &:nth-child(2) {
      .ottbp-selected & {
        border-top: 0;
      }
    }
  }
  
  
}

a.ottbp-select-helper-item {
  //background: #FFFFFF;
  overflow: hidden;
  
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  padding: 9px 0 8px;
  cursor: pointer;
  box-sizing: border-box;
  color: #616161;
  text-align: center;
  span.ottbp-select-helper__inner {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
  }
  
  &:hover {
    /* Rectangle 137 Copy 266: */
    background: #e5e5e5;
    border-radius: 2px;
  }
}