div.ottbp-footer {
  position: relative;
  //overflow: hidden;
  
  .transition(height .2s ease);
  
  .ottbp-more-medium & {
    .clearfix();
  }
}

div.ottbp-footer__loader {
  text-align: center;
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  overflow: hidden;
  
  z-index: 5;
  .stop-flickering();
}

div.ottbp-footer__date {
  position: relative;
  z-index: 10;
  .stop-flickering();
}

div.ottbp-footer__results {
  position: relative;
  z-index: 2;
  .stop-flickering();
}

.ottbp-more-medium div.ottbp-footer__loader {
  z-index: 10;
}

.ottbp-more-medium div.ottbp-footer__date {
  min-height: 1px;
  width: 400px;
  float: left;
  z-index: 5;
}

.ottbp-more-medium div.ottbp-footer__results {
  min-height: 1px;
  width: auto;
  float: left;
  z-index: 5;
}

@import "picker-container";
@import "results-container";