.ottbp-form-header {
  div& {
    background: rgba(62, 71, 87, 0.60);
    border-radius: 4px 4px 0 0;
    
    padding: 20px 20px 4px;
    
    .ottbp-more-medium &{
      padding: 20px;
    }
    
  }
  
  div&__inputs {
    margin-bottom: 12px;
  }
  
  div&__selects {
    margin: -6px -6px;
  }
}