.ottbp-container-picker {
  
  div& {
    background: #878D96;
    padding: 0 20px 20px;
    .ottbp-more-medium & {
      background-color: transparent;
      padding: 0;
    }
  }
  
  div&__wrap {
    position: relative;
  }
  
  div&__btn {
    
    .ottbp-more-medium & {
      display: none;
    }
  }
  
  div&__picker {
    top: 32px;
    left: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
    
    padding: 10px 5px;
    
    background-color: white;
    
    box-sizing: border-box;
    
    border: 1px solid #E0E0E0;
    border-top: 0;
    
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -3px;
      width: 94%;
      left: 50%;
      margin-left: -47%;
      height: 30px;
      box-shadow: 0 16px 30px -5px rgba(0, 0, 0, .2);
      -webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
      -moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
      -ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
      -o-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
      transform: perspective(800px) rotateY(0deg) rotateX(45deg);
    }
    
    .ottbp-more-extrasmall & {
      padding: 20px;
    }
    
    .ottbp-more-medium & {
      padding: 0;
      background-color: transparent;
      top: 0;
      position: relative;
      display: block;
      
      border: 0;
      
      &:after {
        display: none;
      }
    }
  }
  
}

.ottbp-container-picker-btn {
  
  button& {
    border-radius: 0;
    background: #FFFFFF;
    border: 0;
    outline: 0;
    display: inline-block;
    width: 100%;
    padding: 9px 0 8px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    color: #616161;
    text-align: center;
    box-shadow: none;
    overflow: hidden;
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
  
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    .transition(background 0.2s ease, color 0.2s ease, opacity 0.2s ease, width .2s ease, border-radius .1s ease);
    
    &:hover {
      background: #F5F5F5;
      box-shadow: inset 0 0 0 1px #E0E0E0;
    }
    
    &.ottbp-container-picker-btn--clean {
      background: white;
      color: fade(#ffa660, 90%);
  
      font-size: 12px;
      
      &:hover {
        background: lighten(#ffa660, 45%);
        //color:white;
        box-shadow: inset 0 0 0 1px fade(#ffa660, 50%);
      }
    }
    
    
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      width: 90%;
    }
    
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      width: 10%;
    }
  
    &:focus {
      box-shadow: 0 0 5px #eee;
    }
  }
}