.ottbp-container-results {
  div& {
    padding: 10px;
    overflow: hidden;
    .transition(height .2s ease);
  
  
    .ottbp-more-extrasmall & {
      padding: 20px;
    }
  }
  
  &__wrap {
    div& {
      
    }
  }
}