.ottbp-error, .ottbp-info, .ottbp-more {
  div& {
    color: #424242;
    padding: 10px 20px 10px;
    line-height: 1.4;
    //text-align: center;
  }
}

div.ottbp-error {
  
}

div.ottbp-info {
  a {
    color: #01ABFB;
    text-decoration: none;
    
    &:hover {
      color: #0188c8;
      text-decoration: underline;
    }
  }
}

div.ottbp-more {
  text-align: right;
  a {
    display: inline-block;
    background: #01ABFB;
    border-radius: 2px;
    font-family: Roboto, Roboto-Medium, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    padding: 7px 11px;
    text-decoration: none;
    cursor: pointer;
    
    &:visited {
      color: #EEEEEE;
    }
    
    &:hover {
      background: #0188c8;
      color: white;
    }
  }
}