.ottbp-control {
  
  div& {
    position: relative;
    background: white;
    height: 48px;
    
    &.ottbp-control--error{
      box-shadow: inset 0 0 0px 2px rgb(255, 89, 55);
    }
  }
  
  //border-radius: 2px 0px 0px 2px;
  //box-shadow: inset -1px 0px 0px 0px #E0E0E0;
  
  &:first-child {
    //border-radius: 2px 0 0 2px;
  }
  
  &:last-child {
    //border-radius: 0 2px 2px 0;
    //box-shadow: none;
  }
  
  div&__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  div&__input {
    position: relative;
    z-index: 1;
  }
  
  &__helper {
    div& {
      position: absolute;
      top: 48px;
      z-index: 100;
      width: 100%;
      
      display: none;
  
      &:after{
        content: '';
        position:absolute;
        z-index:-1;
        bottom:-3px;
        width:94%;
        left:50%;
        margin-left:-47%;
        height:30px;
        box-shadow: 0 16px 30px -5px rgba(0, 0, 0, .2);
        -webkit-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
        -moz-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
        -ms-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
        -o-transform: perspective(800px) rotateY(0deg) rotateX(45deg);
        transform: perspective(800px) rotateY(0deg) rotateX(45deg);
      }
    }
    div&__shadow {
      
      position: absolute;
      z-index: 1;
      height: 0;
      opacity: 0;
      width: 100%;
      top: 0;
      left: 0;
      /* Rectangle 4: */
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #9E9E9E 100%);
    }
  }
  
  div&:hover {
    background: #EEEEEE;
    cursor: pointer;
  }
  
  div&.ottbp-blur {
    background: white !important;
  }
  
  &.ottbp-helper & {
    &__helper {
      display: block;
    }
  }
}

@import 'control/placeholder';
@import 'control/field';
@import 'control/helper';