.ottbp-date {
  div& {
    background: #FFFFFF;
    position: relative;
  }
  //min-height: 106+30+30;
  
  header&__header {
    display: none;
    .ottbp-more-medium &{
      display: block;
    }
  }
  
  &__title {
    div& {
      color: #424242;
      padding: 25px 20px 24px;
      text-align: center;
    }
    span&__inner {
      //color
      span, button{
        vertical-align: middle;
      }
    }
    
    .ottbp-btn.ottbp-btn-delete {
      font-family: Roboto, Roboto-Medium, sans-serif;
      border: 0;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      outline: none;
      color: #ffa660;
      font-size: 16px;
      padding: 0;
      margin: 0 10px;
      vertical-align: middle;
    }
  }
  
  &__body {
    div& {
      padding: 0 20px;
    }
    div&__inner {
      max-width: 356px;
      margin: 0 auto;
      //padding: 14px 12px;
    }
  }
  
  div&__loader {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  div&__calendar {
    //padding: (20px - 6px) 12px;
  }
  
  div&__months {
    //padding: (20px - 6px) 12px;
  }
  
  div&__prices {
    //padding: 12px 16px;
  }
}

@import "datePicker/months";
@import "datePicker/prices";
@import "datePicker/calendar";
//@import "datePicker/calendar_v2";