.ottbp-select {
  div& {
    position: relative;
  }
  &__btn {
    button& {
      border-radius: 2px;
      background: #FFFFFF;
      
      border: 0;
      outline: 0;
      display: block;
      width: 100%;
      padding: 9px 0 8px;
      cursor: pointer;
      box-sizing: border-box;
      color: #616161;
      text-align: center;
      box-shadow: none;
      overflow: hidden;
  
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  
  
      .transition(background .2s ease, color .2s ease, opacity .2s ease);
  
      //height: 44px - 12px;
      &:hover {
        /* Rectangle 137 Copy 266: */
        background: #F5F5F5;
        box-shadow: inset 0 0 0 1px #E0E0E0;
        border-radius: 2px;
      }
      
      &:focus {
        box-shadow: 0 0 5px #eee;
      }
    }
    
    span&__inner {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      white-space: nowrap;
    }
  }
  
  &.ottbp-selected {
    button.ottbp-select__btn {
      background: #FFD41E;
    }
    button.ottbp-select__btn:hover {
      box-shadow: none;
      background: #FFC901;
    }
    
  }
  
  &.ottbp-disabled {
    button.ottbp-select__btn {
      cursor: not-allowed;
      background: rgba(100, 100, 100, .6);
      color: rgba(50, 50, 50, .3);
      box-shadow: none;
      opacity: .3;
    }
  }
  
  div&__helper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  
}

@import 'dropDown/helper';