@import "./../assets/mixins";

.ottbp-form {
  
  div&__header {
    //background: rgba(62, 71, 87, 0.60);
    //border-radius: 4px 4px 0 0;
    //
    //padding: 20px;
  
    position: relative;
    z-index: 2;
  }
  
 
  
  div&__footer {
    background: #ffffff;
    position: relative;
    z-index: 1;
    //min-height: 146px;
    //.clearfix();
    //&__loader {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  text-align: center;
    //  padding: 20px 0;
    //}
  }
  
  
}

@import "form/footer";
@import "form/header";