@import "./../assets/mixins";



.mixin_ottbp_loader(@size) {
  
  @color: #FFC901;
  
  @color_light: lighten(@color, 15%);
  @color_dark: darken(@color, 2%);
  
  div& {
    width: 128px * @size;
    height: 128px * @size;
    display: inline-block;
    
    position: relative;
    
    .stop-flickering();
  }
  //.transition(transform 0 ease, opacity 0 ease);
  
  //&.ottbp-loader--hide {
  //  //display: none;
  //  //opacity: 0;
  //  //.scale(0);
  //  //.transition(transform .2s ease, opacity .2s ease);
  //
  //}
  
  //.ottbp-loader__back {
  
  div.ottbp-loader__back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background: fade(#6565ac, 15%);
    z-index: 1;
    //.animation-name(loader_show);
    //.animation-duration(.5s);
    //.animation-timing-function(@ease-out_back);
    //.animation-fill-mode(both);
    //.animation-delay(.1s);
    
    .transition(opacity .3s ease 0s, transform .3s @ease-out_back .1s);
    
    opacity: 1;
    .scale(1);
  }
  
  &.ottbp-loader--hide div.ottbp-loader__back {
    
    .transition(opacity .2s ease .3s, transform 1s @ease-out_back 0s);
    
    opacity: 0;
    .scale(0);
    
  }
  
  //.ottbp-loader__back__over {
  div.ottbp-loader__back__over {
    
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
    background: @color;
    position: absolute;
    .transform-origin(left, bottom);
    //
    .animation-name(loader_spin);
    .animation-duration(.9s);
    .animation-timing-function(linear);
    .animation-fill-mode(both);
    .animation-iteration-count(infinite);
  }
  
  .ottbp-loader--hide div.ottbp-loader__back__over {
    .animation-play-state(paused);
  }
  //}
  //}
  
  @w: 95px;
  @h: 95px;
  //.ottbp-loader__front {
  div.ottbp-loader__front {
    
    //.animation-name(loader_show);
    //.animation-duration(.3s);
    //.animation-timing-function(@ease-out_back);
    //.animation-fill-mode(both);
    .transition(opacity .1s ease 0s, transform .3s @ease-out_back 0s);
  }
  
  &.ottbp-loader--hide div.ottbp-loader__front {
    .transition(opacity .3s ease .2s, transform .5s @ease-out_back .2s);
    
    opacity: 0;
    .scale(0);
  }
  
  div.ottbp-loader__front {
    position: absolute;
    z-index: 1;
    width: 95px * @size;
    height: 95px * @size;
    border-radius: 50%;
    
    margin: (128px - 95px)/2 * @size;
    
    background: @color;
    background: -moz-linear-gradient(45deg, @color_dark 0%, @color 50%, @color_light 100%);
    background: -webkit-linear-gradient(45deg, @color_dark 0%, @color 50%, @color_light 100%);
    background: linear-gradient(45deg, @color_dark 0%, @color 50%, @color_light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color_dark}', endColorstr='@{color_light}', GradientType=1);
    
    box-shadow: 0 1px 10px rgba(0, 0, 0, .15);
  }
  //.ottbp-loader__front__icon {
  div.ottbp-loader__front__icon {
    width: 39px * @size;
    height: 39px * @size;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    //background: transparent url('./../images/search@1x.png') 0 0 no-repeat;
    //background-size: 39px * @size 39px * @size;
    
    opacity: 1;
    //.scale(1);
    .transition(opacity .1s ease .1s, transform .3s @ease-out_back 0s);
  }
  
  &.ottbp-loader--hide div.ottbp-loader__front__icon {
    
    opacity: 0;
    //.scale(2);
    .transition(opacity .1s ease 0, transform .5s @ease-out_back .2s);
    
  }
  //}
  //}
}

.ottbp-loader {
  .mixin_ottbp_loader(.8);
  &.ottbp-loader--small {
    .mixin_ottbp_loader(.4);
  }
}

