div.ottbp-search {
  
}

button.ottbp-search__btn {
  height: 40px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color:#616161;
  background: #FFD41E;
  box-shadow: none;
  outline: none;
  padding: 0;
  text-align: center;
  
  border-radius: 0 0 0 0;
  
  font-size: 16px;
  font-weight: 400;
  
  span {
    display: inline-block;
    vertical-align: middle;
    
    & + span {
      margin-left: 10px;
    }
  }
  
  &:hover {
    box-shadow: none;
    background: #FFC901;
  }
  
  &:focus {
    box-shadow: 0 0 5px #eee;
  }
  
  .ottbp-more-extrasmall & {
    height: 48px;
    border-radius: 0 3px 3px 0;
    > span.ottbp-search__btn__text {
      display: none;
    }
  }
  
  //.ottbp-more-big & {
  //  > span.ottbp-search__btn__text {
  //    display: inline-block;
  //  }
  //}
}