
.ottbp-trip {
  div& {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
  }
  div&__header {
    padding: 9px 31px 8px;
    background: rgba(62, 71, 87, 0.6);
    //box-shadow: inset 0px -1px 0px 0px #EEEEEE;
    
    span.ottbp-black {
      color: white;
    }
    span.ottbp-gray {
      color: #D4D2D2;
    }
    
  }
  
  &__title {
    /* Санкт-Петербург, на: */
    font-family: Roboto, Roboto-Medium, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
    letter-spacing: 0.2px;
    line-height: 19px;
    
    inner&__inner {
      font-size: inherit;
      font-weight: inherit;
      font-family: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }
  
  div&__body {
    
    padding: 12px 31px - 26px;
    
  }
  
  &__directions {
    div& {
      
      position: relative;
      .clearfix();
      
    }
    
    &__item {
      div& {
        float: left;
        width: 50%;
        box-sizing: border-box;
        
        &:nth-child(2) {
          border-left: 1px solid #EEEEEE;
        }
  
        .ottbp-extrasmall & {
          width: 48%;
        }
        .ottbp-more-small & {
          width: 45%;
        }
      }
    }
    
    div&.ottbp-trip__directions--only_one {
      padding-top: 15px;
      padding-bottom: 10px;
      div.ottbp-trip__directions__item {
        width: 100%;
      }
      
      div.ottbp-direction {
        position: relative;
        .clearfix();
        
        &__main, &__add {
          width: 50%;
          float: left;
        }
      }
    }
  }
  
  div&__footer {
    text-align: right;
    padding: 0 24px 8px;
  }
  
  div&__price,
  div&__btn {
    display: inline-block;
    vertical-align: middle;
  }
  &__price {
    div& {
      
      /* 68 486 ₽: */
      font-family: Roboto, Roboto-Medium, sans-serif;
      font-weight: 500;
      font-size: 21px;
      color: #4FBB04;
      letter-spacing: 0px;
    }
    span&__inner {
      
    }
  }
  
  div&__btn {
    margin-left: 10px;
  }
}


@import "trip/icons";
@import "trip/btn";
@import "trip/direction";
@import "trip/text";
