@import "./../assets/mixins";

.keyframes(display_up, { 0% {
  opacity: 0;
  .translate(0, 100px);
} 100% {
    opacity: 1;
    .translate(0, 0);
  } });

.keyframes(hide_right, { 0% {
  opacity: 1;
  .translate(0, 0);
} 100% {
    opacity: 0;
    .translate(100px, 0);
  } });

.keyframes(loader_spin, { 0% {
  .rotateZ(0deg);
} 100% {
    .rotateZ(360deg);
  } });

.keyframes(loader_show, { 0% {
  opacity: 0;
  .scale(0);
} 100% {
    opacity: 1;
    .scale(1);
  } });