@import "../../assets/mixins";

@exs_size: 30px;
@xs_size: 38px;
@small_size: 48px;

.ottbp-calendar {
  td {
    vertical-align: middle;
  }
  table& {
    margin: auto;
    font-size: 0;
    border-collapse: collapse;
  }
  tr.ottbp-cal-month {
    cursor: pointer;
    color: #9E9E9E;
  }
  td.ottbp-cal-month__name {
    color: inherit;
    padding: 2px 0;
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-size: 14px;
    letter-spacing: 0.17px;
    cursor: pointer;
    
    .ottbp-more-small & {
      padding: 10px 8px;
    }
    
    a {
      float: right;
      text-decoration: none;
      color: fade(#9E9E9E, 50%);
      &:hover {
        color: black;
      }
    }
  }
  td.ottbp-cal-month__select {
    text-align: center;
    color: inherit;
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-size: 14px;
    letter-spacing: 0.17px;
    cursor: pointer;
    padding: 2px 0;
    .ottbp-more-small & {
      
      padding: 10px 8px;
    }
    a {
      color: inherit;
      &:hover {
        color: black;
      }
    }
  }
  
  tr.ottbp-cal-month:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  tr.ottbp-cal-days {
    color: #9E9E9E;
    
    td.ottbp-cal-weekend {
      color: #FF974D;
    }
    
  }
  
  td.ottbp-cal-day {
    padding: 0;
    margin: 0;
    border: 0;
    width: @exs_size;
    height: @exs_size;
    text-align: center;
    
    .ottbp-extrasmall & {
      width: @xs_size;
      height: @xs_size;
    }
    
    .ottbp-more-small & {
      width: @small_size;
      height: @small_size;
    }
  }
  
  thead td.ottbp-cal-day {
    height: 40px;
  }
}


div.ottbp-calendar-price_range {
  padding: (10px/* - 6px*/) 5px;
  text-align: center;
  .ottbp-extrasmall & {
    text-align: left;
    padding: (15px/* - 6px*/) 7px;
  }
  .ottbp-more-small & {
    padding: (20px/* - 6px*/) 10px;
  }
  
}

@import "./calendar/day";

/*
.keyframes(day_show, { 0% {
  opacity: 0;
  .scale(.2);
} 100% {
    opacity: 1;
    .scale(1);
  } });

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index < 7) and (@index > 0) {
  @tmp: @index+1;
  &:nth-child(@{tmp}) {
    .animation-delay(@beforeDelay + (@weekDelay / 7 * @index));
  }
  .nthChildDay(@beforeDelay, @weekDelay, @tmp);
}

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index = 0) {
  .animation-delay(@beforeDelay);
  .nthChildDay(@beforeDelay, @weekDelay, @index + 1);
}

.nthChildDay(@beforeDelay, @weekDelay, @index) when (@index > 7) {
  //
}

.nthChildWeek(@index, @weekDelay) when (@index<7){
  @tmp: @index+2;
  &:nth-child(@{tmp}) {
    .ottbp-cal-day {
      .nthChildDay(@weekDelay * @index, @weekDelay, 0);
    }
  }
  .nthChildWeek(@index + 1, @weekDelay)
}

.nthChildWeek(@index, @weekDelay) when (@index >= 7) {
}

.ottbp-cal-week {
  @weekDelay: .2s;
  
  .ottbp-cal-day {
    .animation-name(day_show);
    .animation-duration(.5s);
    .animation-fill-mode(both);
    
    //.nthChildDay(0, @weekDelay, 0);
  }
  
  .nthChildWeek(0, @weekDelay);
}
*/
