@import "../../assets/mixins";

//.keyframes(month_appearance, { 0% {
//  opacity: 0;
//  .scale(.1);
//} 100% {
//    opacity: 1;
//    .scale(1);
//  } });
//
//.monthChildAnimation(@index, @count) when (@index < @count) {
//  &:nth-child(@{index}) {
//    .animation-delay(.02s * (@index - 1));
//  }
//  .monthChildAnimation(@index+1, @count);
//}
//
//.monthChildAnimation(@index, @count) when (@index >= @count) {
//
//}

.ottbp-months {
  @gutter: 6px;
  div& {
    margin: 0 -@gutter;
    .clearfix();
  }
  div&__item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: @gutter;
    
    //.animation-name(month_appearance);
    //.animation-duration(.3s);
    //.animation-fill-mode(both);
    //
    //.monthChildAnimation(2, 20);
  }
}

.ottbp-month {
  button& {
    border-radius: 100px;
    border: 0;
    margin: 0;
    outline: none;
    //box-shadow: none;
    
    color: #424242;
    
    padding: 15px 0 14px;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.8);
  
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    
    &:hover {
      background: darken(rgba(255, 255, 255, 0.8), 5%);
    }
  }
  
  span&__inner {
    cursor: pointer;
    color: inherit;
  }
  
  &.ottbp--custom_price {
    box-shadow: none;
  }
  
  &--low, &.ottbp--low_price {
    background: #B8E9C0;
    box-shadow: none;
    &:hover {
      background: darken(#B8E9C0, 5%);
    }
  }
  
  &--middle, &.ottbp--middle_price {
    background: #EFF9E8;
    box-shadow: none;
    &:hover {
      background: darken(#EFF9E8, 5%);
    }
  }
  
  &--high, &.ottbp--high_price {
    background: #FFD3BC;
    box-shadow: none;
    &:hover {
      background: darken(#FFD3BC, 5%);
    }
  }
  
}

div.ottbp-months-price_range {
  padding: (20px /*- 6px*/) 0;
  text-align: center;
  .ottbp-more-extrasmall &{
    text-align: left;
  }
}