.ottbp-prices {
  div& {
    font-size: 0;
  }
  div&__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
  }
}

.ottbp-price {
  div& {
    font-size: 0;
  }
  div&__color,
  div&__cost {
    vertical-align: middle;
    display: inline-block;
  }
  &__color {
    div& {
      margin-right: 7px;
    }
    div&__circle {
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%;
      .ottbp-more-extrasmall &{
        width: 20px;
        height: 20px;
        
      }
    }
  }
  
  &__cost {
    div& {
      color: #424242;
      
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 13px;
      text-decoration: none;
      
      .ottbp-more-extrasmall &{
        font-size: 13px;
        line-height: 15px;
      }
    }
    div&__inner {
      
    }
  }
}
